.idea
.sonar/
data/
modules/__init__.pyc
modules/__pycache__/
modules/entidade/__init__.pyc
modules/entidade/__pycache__/
modules/entidade/admin.pyc
modules/entidade/formularios.pyc
modules/entidade/migrations/
modules/entidade/models.pyc
modules/entidade/service.pyc
modules/entidade/utilitarios.pyc
modules/entidade/views.pyc
modules/honorary/__init__.pyc
modules/honorary/__pycache__/
modules/honorary/admin.pyc
modules/honorary/api.pyc
modules/honorary/forms.pyc
modules/honorary/models.pyc
modules/honorary/views.pyc
modules/nucleo/__init__.pyc
modules/nucleo/__pycache__/
modules/nucleo/models.pyc
modules/nucleo/views.pyc
modules/nucleo/working_api.pyc
modules/preferencias/__init__.pyc
modules/preferencias/__pycache__/
modules/preferencias/admin.pyc
modules/preferencias/formularios.pyc
modules/preferencias/migrations/
modules/preferencias/models.pyc
modules/preferencias/views.pyc
modules/protocolo/__init__.pyc
modules/protocolo/__pycache__/
modules/protocolo/admin.pyc
modules/protocolo/formularios.pyc
modules/protocolo/migrations/
modules/protocolo/models.pyc
modules/protocolo/report.pyc
modules/protocolo/views.pyc
modules/servico/__init__.pyc
modules/servico/__pycache__/
modules/servico/admin.pyc
modules/servico/formularios.pyc
modules/servico/migrations/
modules/servico/models.pyc
modules/servico/views.pyc
sistema_contabil/__init__.pyc
sistema_contabil/__pycache__/
sistema_contabil/admin.pyc
sistema_contabil/settings.pyc
sistema_contabil/urls.pyc
sistema_contabil/wsgi.pyc
static/bower_components
util/__init__.pyc
util/database.pyc
util/internet.pyc
/modules/user/migrations/
