{% extends 'base_page.html' %}
{% block Titulo %}<title>Digitar - Controle de Honorários</title>{% endblock %}
{% load staticfiles %}
{% block recursos_necessarios %}
<style>
	table td{
		height: 26px;
		padding: 0px !important;
		padding-top: 7px !important;
		padding-left: 4px !important;
		padding-right: 4px !important;
	}

	table th{
		font-size: 12px;
		font-weight: bold;
		background: #FFF;/*#9FB8FB; #EEEEEF; #85A3CC #EEE #8FB5EC; *#6FB2BE; #009ACD;*/
		color: #666;
	}

	.container {
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		margin-bottom: 0px;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
	}
</style>
{% endblock %}
{% block conteudo %}
<div id="controle_angular" ng-app="app" ng-controller="MeuController" ng-init="registros_carregados=false;">
	<div class="row" style="margin-top: -55px;">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<div class="box box-default" >
				<div class="box-heading">
					<div class="box-header with-border">
						<h5 class="box-title">Controle de Honorários</h5>
						<div class="pull-right">
							<div class="btn-group" role="group" aria-label="...">
								<button id='bt_load_competences' role="button" class="btn btn-sm btn-primary" ng-click="load_competences()">Inicializar Honorários</button>
								<button id='bt_adicionar' role="button" class="btn btn-sm btn-default" data-toggle="modal" data-target="#modal_adicionar_contrato" ng-disabled="registro_selecionado!=null">Adicionar</button>
								<button id='bt_servicos' role="button" class="btn btn-sm btn-default" ng-disabled="registro_selecionado==null"  data-toggle="modal" data-target="#modal_adicionar_contrato" ng-click="esta_adicionando=false;open_object();" style='margin-left: 5px;'>Editar</button>
								<button id='bt_disable' role="button" class="btn btn-sm btn-default" ng-disabled="registro_selecionado==null" data-toggle="modal" data-target="#modal_justify_action" ng-click="confirm_disable();" style='margin-left: 5px;'>Excluir</button>
							</div>
						</div>
					</div>
				</div>

				<div class="box-body" style="margin-bottom: -10px;margin-top: 0px;">
					<div class="dataTable_wrapper">
						<div class='row'>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								{% verbatim %}
								<div class="container">
									<table class="table table-condensed  table-striped table-bordered table-hover" id="table_contratos" style="width: 100%;">
										<thead>
											<tr class="linha_cabecalho">
												<th class='text-center' style="width: 40px;" ng-click="sortType='id';sortReverse=!sortReverse">N°</th>
												<th class='text-center' style="width:60px;" ng-click="sortType='competence';sortReverse=!sortReverse">Comp.</th>
												<th class='text-center' ng-click="sortType='cliente';sortReverse=!sortReverse">Cliente</th>
												<th class='text-center' style="width: 100px;" ng-click="sortType='last_update';sortReverse=!sortReverse">Valor Contrato</th>
												<th class='text-center' style="width: 100px;" ng-click="sortType='last_update';sortReverse=!sortReverse">Desc. Contrato</th>
												<th class='text-center' style="width: 90px;" ng-click="sortType='last_update';sortReverse=!sortReverse">Proventos</th>
												<th class='text-center' style="width: 90px;" ng-click="sortType='last_update';sortReverse=!sortReverse">Descontos</th>
												<th class='text-center' style="width: 90px;" ng-click="sortType='last_update';sortReverse=!sortReverse">Ressarcimento</th>
												<th class='text-center' style="width: 90px;" ng-click="sortType='last_update';sortReverse=!sortReverse">Ult. Alteração</th>
												<th class="text-center" style="width: 120px;">Alterado por</th>
												<th class='text-center' style="width: 100px;" ng-click="sortType='plano';sortReverse=!sortReverse" >Situação</th>
												<th class='text-center' style="width: 90px;" ng-click="sortType='last_update';sortReverse=!sortReverse">Honorário</th>
											</tr>
										</thead>

										<tbody style="font-size: 11px;">
											<tr id="divCarregando" ng-if="registros_carregados == false"><!-- style='height:{{ table_maximun_body_heigth }}px;'>-->
												<td colspan="12" style='background: #FFFAFA;opacity: 0.5;vertical-align: middle' class="text-center"><br><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i><br><br>Aguarde.. Carregando...<br><br></td>
											</tr>

											<tr ng-cloak ng-if='registros_carregados' class="angular-repeat linha_selecionavel {{ registro.selecionado }}" ng-click="selecionar_linha(registro);" pagination-id="paginate_registros" dir-paginate="registro in registros | filter: get_filter_column() | itemsPerPage:table_maximun_items_per_page | orderBy:sortType:sortReverse as resultado">
												<td class='text-center' style="width: 30px;">{{ registro.id }}</td>
												<td class="text-center" style="width: 60px;">{{ registro.competence }}</td>
												<td class='text-left'>{{ registro.entity_name }}</td>
												<td class='text-right' style="width: 90px;">{{ registro.initial_value_contract| currency:"" }}</td>
												<td class='text-center' style="width: 100px;" title="Desconto Fidelidade {{ registro.fidelity_discount| currency:'' }}% e Desconto Temporário {{ registro.temporary_discount| currency:'' }}%">{{ registro.contract_discount| currency:"" }} %</td>
												<td class='text-right' style="width: 90px;">{{ registro.total_debit| currency:"" }}</td>
												<td class='text-right' style="width: 90px;">{{ registro.total_credit| currency:"" }}</td>
												<td class='text-right' style="width: 90px;">{{ registro.total_repayment| currency:"" }}</td>

												<td class='text-center' style="width: 90px;" title="Atualizado {{ registro.last_update| date: 'dd/MM/yyyy' }} às {{ registro.last_update| date: 'HH:MM' }}">{{ registro.last_update| date: 'dd/MM/yyyy' }}</td>
												<td class="text-left" style="width: 100px;">{{ registro.updated_by_name }}</td>
												<td class='text-center' style="width: 100px;">
													<span ng-show="registro.is_closed==false">EM CONFECÇÃO</span>
													<span ng-show="registro.is_closed==true">ENCERRADO</span>
												</td>
												<td class='text-right' style="width: 90px;">{{ registro.total_honorary| currency:"" }}</td>
											</tr>

											<tr ng-cloak ng-if='registros_carregados' ng-repeat="k in table_minimun_items.slice(registros.length,table_minimun_items.length)">
												<td style="width:30px;"></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
											</tr>

											<tr ng-cloak ng-if="resultado.length === 0 && (registros|filter:filterIds()).length > 0">
												<td colspan="4" class='text-center'>Nenhum resultado Encontrado</td>
											</tr>
										</tbody>
									</table>
								</div>
								{% endverbatim %}
							</div>
						</div>
					</div>

					<div class='row no-gutter' style="padding: 0px 10px 0px 10px;">
						{% verbatim %}
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style='margin-top:6px;'>
							<label id="label_competence" class='left {{ desabilitar }}'><sub>Mês de competência:</sub></label>
							<select id='competence' class='form-control {{ desabilitar }}' onchange="select_competence()">
								<option value="FEV/2018">FEV/2018</option>
								<option value="JAN/2018">JAN/2018</option>
								<option value="TODOS" selected="selected">TODOS</option>
								<option value="DEZ/2017">DEZ/2017</option>
							</select>
						</div>

						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style='margin-top:6px;'>
							<label id="label_buscar_por" class='left {{ desabilitar }}'><sub>Buscar por:</sub></label>
							<select id='buscar_por' class='form-control {{ desabilitar }}' ng-model="filter_by" ng-change="select_filter_by()">
								<option value="0">CÓDIGO</option>
								<option value="1" selected>CLIENTE</option>
								<option value="2">COMPETÊNCIA</option>
							</select>
						</div>

						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style='margin-top: 31px;'>
							<input type="text" id="search" ng-model='search' class="form-control {{ desabilitar }}" placeholder="Consultar..">
						</div>

						<div class="col-lg-4 col-md-6 col-sm-4 col-xs-12 mt-xs-0 pull-right" ng-if="registros_carregados == true" >
							<span class="pull-right" style="height: 64px;padding-top: 10px;"><!-- style="margin-top:-54px;margin-bottom: -30px;margin-right: 0px;">-->
								<dir-pagination-controls pagination-id="paginate_registros" max-size="5" auto-hide="false" boundary-links="true" direction-links="true">
								</dir-pagination-controls>
							</span>
						</div>
						{% endverbatim %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="modal_adicionar_contrato" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
		<div class="modal-dialog" style="width: 70%">
			<form id="form_adicionar_contrato" novalidate autocomplete="off" ng-submit="esta_adicionando? save_provent() : update_provent()" onsubmit="return false;">
				{% csrf_token %}
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h5 id="titulo_modal_adicionar_contrato" class='modal_title' style="font-weight: bold">Adicionar Provento</h5>
					</div>

					<div class="modal-body" style="padding: 30px;padding-top: 15px;padding-bottom: 5px;">
						<div class="row no-gutter fluid">
							<div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
								<div class="form-group field" id="field_tipo">
									<sub><label id="lb_tipo" for="tipo">{{ formulario_proventos.tipo.label }}</label> </sub>
									{{ formulario_proventos.tipo }}
								</div>
							</div>

							<div class="col-lg-6 col-md-3 col-sm-12 col-xs-12">
								<div class="form-group field" id="field_nome">
									<sub><label id="lb_nome" for="nome">{{ formulario_proventos.nome.label }}*</label></sub>
									{{ formulario_proventos.nome }}
								</div>
							</div>

							<div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
								<div class="form-group field" id="field_tipo_valor">
									<sub><label id="lb_tipo_valor" for="tipo_valor">{{ formulario_proventos.tipo_valor.label }}</label> </sub>
									{{ formulario_proventos.tipo_valor }}
								</div>
							</div>

							<div class="col-lg-2 col-md-3 col-sm-12 col-xs-12">
								<div class="form-group field" id="field_valor">
									<sub><label id="lb_valor" for="valor">{{ formulario_proventos.valor.label }}*</label> </sub>
									{{ formulario_proventos.valor }}
								</div>
							</div>
						</div>

						<div class="row no-gutter fluid">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="form-group field" id="field_descricao">
									<sub><label id="lb_descricao" for="descricao">{{ formulario_proventos.descricao.label }}</label> </sub>
									{{ formulario_proventos.descricao }}
								</div>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<div class="row">
							<div class="col-md-2 col-md-push-10" >
								<button type="submit" id="bt_submit_contrato" class="btn btn-sm btn-primary form-control" data-toggle="modal" data-target="">Salvar</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div id="modal_justify_action" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
		<div class="modal-dialog" style="width: 60%">
			<div class="modal-content">
				<form id="form_justify_action" autocomplete="off" ng-submit="disable();">
					<div class="modal-header" style="padding-top:2px;"><!-- style="height: 48px;"> -->
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top:10px;">×</button>
						<h4 id="myModalLabel">Desativar Provento</h4>
					</div>

					<div class="modal-body">
						<style>
							.only_bottom_border{
								background-color: #fff !important;
								border-bottom: 1px solid #ccc !important;
								box-shadow:none !important;
								cursor: default;
							}
						</style>
						<div style="margin-top: 0px;">
							<div class="row">
								<div class="col-lg-12">
									<p id="action_info" style="padding: 10px; padding-bottom: 4px;">
										Por questões de segurança e integridade das informações esse registro não pode ser excluido definitivamente, apenas
										desativado para que não esteja disponiveis em operações futuras. Justificativa obrigatória para prosseguir.
									</p>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-4 col-md-2">
									<sub style='padding-left: 2px'><label>Operação:</label></sub>
									<input id="action_type" type="text" class="form-control uppercase only_bottom_border" readonly onfocus="this.blur();" />
								</div>


								<div class="col-lg-4 col-md-3">
									<sub style='padding-left: 2px'><label>Usuário:</label></sub>
									<input id="action_user" type="text" class="form-control uppercase only_bottom_border" readonly onfocus="this.blur();" />
								</div>


								<div class="col-lg-4 col-md-7">
									<sub style='padding-left: 2px'><label>Registro:</label></sub>
									<input id="action_object" type="text" class="form-control uppercase only_bottom_border" readonly onfocus="this.blur();">
								</div>
							</div>

							<div class="row">
								<div class="col-lg-12">
									<div class="form-group field" id="field_action_justify">
										<sub>
											<label>Justificativa:</label>
										</sub>
										<textarea id="action_justify" rows="5" class="form-control uppercase"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<div class="form-group">
							<button type='submit' id="bt_confirmar_desativacao" class="btn btn-danger pull-right">Desativar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block recursos_complementares %}
{% load staticfiles %}
{% load compress %}
{% compress js %}
<script src="{% static 'modules/core/controle_componentes.js' %}"/>
<script src="{% static 'modules/honorary/honorary/js/honoraryController.js' %}"/>
<script src="{% static 'modules/honorary/honorary/js/honorary.js' %}"/>
{% endcompress %}
{% endblock %}