{% extends 'base_page.html' %}
{% block Titulo %}<title>Digitar - Controle de Honorários</title>{% endblock %}
{% load staticfiles %}
{% block recursos_necessarios %}
<style>
	table td{
		height: 26px;
		padding: 0px !important;
		padding-top: 7px !important;
		padding-left: 4px !important;
		padding-right: 4px !important;
	}

	table th{
		font-size: 12px;
		font-weight: bold;
		background: #FFF; /*#9FB8FB; #EEEEEF; #85A3CC #EEE #8FB5EC; *#6FB2BE; #009ACD;*/
		color: #666;
	}

	.container {
		padding-left: 0px;
		padding-right: 0px;
		padding-bottom: 0px;
		margin-bottom: 0px;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
	}

	.confirm_honorary{
		transition: all .1s ease-in-out;
		padding: 0px;
		font-size:14px;
		cursor: pointer;
	}

	.confirm_honorary span i{
		position: relative;
		top: -4px;
		height: 18px;
		width: 52px;
	}

	.confirm_honorary span i:hover {
		transform: scale(1.3);
	}


	.notification a{
		margin-top: -8px;
	}

	.notification .created_date{
		font-size: 90%;
		color: #aaa;
	}

	.readed{
		color: #1f7a1f;
		font-size: 14px;
		opacity: 0.7;
	}

	.non-readed{
		color: #ccc;
		font-size: 14px;
	}

	.invisible-data{
		visibility: hidden;
		opacity: 0;
	}

	.visible-data {
	  visibility: visible;
	  opacity: 1;
	  transition: opacity 1s linear;
	}

	.hidden-loading {
	  visibility: hidden;
	  opacity: 0;
	  transition: visibility 0s 1s, opacity 1s linear;
	}

	.created_notification{
		color: #AAA;
		font-size: 10px;
	}
</style>
{% endblock %}
{% block conteudo %}
<div id="controle_angular" ng-controller="MeuController" ng-init="registros_carregados=false;logged_user='{{ request.user.id }}';">
	<div class="row" style="margin-top: -45px;">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<div class="box box-default" style="">
				<div class="box-heading">
					<div class="box-header with-border">
						<h5 class="box-title">Central de Notificações</h5>
						<div class="pull-right" style="padding-bottom: 0px;margin-bottom: 0px;height:34px;">
							<div class="form-group" title='Selecione o período das notificações que deseja visualizar.' style='width: 110px;float: left;' >
								<select id='competence' class='form-control {{ desabilitar }}' onchange="select_competence()">
								</select>
							</div>

							<div class="form-group" title='Selecione o status das notificações deseja visualizar.' style='width: 240px;float: right;margin-left: 10px;' >
								<!--<label id="label_filtrar_contrato" class='left {{ desabilitar }}'><sub>Status:</sub></label>-->
								<select id='filtrar_contrato' class='form-control' ng-model="filter_contract_by" ng-change="select_filter_contract_by()">
									<option value="nao_lidas">NOTIFICAÇÕES NÃO LIDAS</option>
									<option value="lidas">NOTIFICAÇÕES LIDAS</option>
									<option value="todas">TODAS NOTIFICAÇÕES</option>
								</select>
							</div>

							<div class="form-group" title='Selecione o tipo das notificações que deseja visualizar.' style='margin-left: 10px;float:right;'>
								<select id='notifications_type' ng-model="notifications_type " class='form-control'>
									<option value="ENTITY">NOTIFICAÇÕES DE CLIENTES</option>
									<option value="PROTOCOL">NOTIFICAÇÕES DO PROTOCOLO</option>
									<option value="HONORARY">NOTIFICAÇÕES DO HONORÁRIO</option>
									<option value="TASK">NOTIFICAÇÕES DE TAREFAS</option>
									<option value="SYSTEM">NOTIFICAÇÕES DO SISTEMA</option>
									<option value="TODOS" selected>TODOS OS MÓDULOS</option>
								</select>
							</div>
						</div>
					</div>
				</div>

				<div class="box-body" style="padding-top: 15px;margin-bottom: 0px;">
					{% verbatim %}
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="container">
								<table class="table table-condensed table-striped table-hover" id="table_contratos" style="width: 100%;">
									<thead>
										<tr class="linha_cabecalho no-select">
											<th class='text-left' ng-click="sortType='message';sortReverse=!sortReverse" style="padding-left: 8px;">Notificações</th>
											<th class="text-center" style="width: 120px;" ng-click="sortType='updated_by_name';sortReverse=!sortReverse">Data Notificação</th>
											<th class='text-center' style="width: 140px;cursor: not-allowed">Destinatários</th>
											<th class='text-center' style="width: 80px;cursor: not-allowed">Situação</th>
										</tr>
									</thead>

									<tbody style="font-size: 11px;border-bottom: 1px solid #ddd;">
										<tr id="divCarregando" ng-if="registros_carregados == false"><!-- style='height:{{ table_maximun_body_heigth }}px;'>-->
											<td colspan="12" style='background: #FFFAFA;opacity: 0.5;vertical-align: middle' class="text-center"><br><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i><br><br>Aguarde.. Carregando...<br><br></td>
										</tr>

										<tr id='views_list_{{ registro.id }}' class="{{ registro.selecionado }}" dir-paginate="registro in $parent.result = (registros | filter: get_filter_column() | orderBy:sortType:sortReverse) | itemsPerPage:table_maximun_items_per_page" pagination-id="paginate_registros"  ng-if='registros_carregados' ng-cloak>
											<td class='text-left linha_selecionavel' ng-click="selecionar_linha(registro);">
												<span style="position:relative; top:-3px;;height:24px;color: #666;">
													<span style="height: 15px;width:16px;font-size:15px;color:#aaa;padding: 2px;padding-top:0px;margin-top: -4px;">
														<i ng-if="registro.module=='ENTITY'" class="fa fa-id-card-o" aria-hidden="true" title='Notificação do módulo Entidade'></i>
														<i ng-if="registro.module=='HONORARY'" class="fa fa-briefcase" aria-hidden="true" title='Notificação do módulo Honorário'></i ng-if="registro.module=='HONORARY'">
														<i ng-if="registro.module=='PROTOCOL'" class="fa fa-envelope-o" aria-hidden="true" title='Notificação do módulo Protocolo'></i>
													</span>
	                        {{ registro.message|uppercase }}
												</span>
											</td>
											<td class="text-left linha_selecionavel confirm_honorary" style="width: 100px;font-size: 11px;color: #999;" ng-click="selecionar_linha(registro);">
												<span ng-show="registro.created_date!=null">{{ registro.created_date| date: 'dd/MM/yyyy' }} às {{ registro.created_date| date: 'HH:mm:ss' }}</span>
												<span ng-show="registro.created_date==null"></span>
											</td>
											<td class='linha_selecionavel' style="width:100px;display: table-cell;text-align:center;padding: 0px;" ng-click="selecionar_linha(registro);">
												<span ng-repeat="user in registro.related_users.split(';')" ng-init="get_user_related_name(registro, user)">
													<i class="fa fa-user" id='{{ registro.id }}_{{ user }}' ng-class="registro.related_users_readed.indexOf(user) != -1 && registro.related_users_readed != null? 'readed' : 'non-readed'" aria-hidden="true"></i>
												</span>
											</td>
											<td class='text-center confirm_honorary' style="width: 80px;padding: 0px;" ng-click="confirm_notification(registro, logged_user)">
												<span ng-show="registro.was_readed == false" title="Clique aqui para confirmar notificação.">
													<i class="fa fa-check" aria-hidden="true" style="color: #AAA;"></i>
												</span>

												<span ng-show="registro.was_readed == true" title="Você já confirmou essa notificação.">
													<i class="fa fa-check" aria-hidden="true" style="color: #009933;"></i>
												</span>
											</td>
										</tr>

										<tr ng-cloak ng-if='registros_carregados' ng-repeat="k in table_minimun_items.slice(registros.length,table_minimun_items.length)">
											<td></td><td></td><td></td><td></td><td></td><td></td><td></td>
										</tr>

										<tr ng-cloak ng-if="result.length==0 && registros_carregados == true">
											<td colspan="12" style='background: #FFFAFA;opacity: 0.5;vertical-align: middle' class="text-center"><br>
												<i class="fa fa-exclamation-circle fa-3x fa-fw" aria-hidden="true"></i>
												<br><br>Nenhum resultado encontrado<br><br>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div ng-if="search != '' && result.length > 0" style="text-align:right;padding:0px;font-size:11px;overflow:visible;background:blue;height: 0px;margin-top: -15px;padding-right:10px;color: #888;">Registros encontrados: {{ result.length }}/{{ registros.length }}</div>
						</div>
					</div>

					<div class='row no-gutter' style="padding: 0px 10px 0px 10px;">
						<!--

						-->

						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style='margin-top:6px;'>
							<label id="label_buscar_por" class='left {{ desabilitar }}'><sub>Buscar por:</sub></label>
							<select id='buscar_por' class='form-control {{ desabilitar }}' ng-model="filter_by" ng-change="select_filter_by()">
								<option value="0" selected>MENSAGEM</option>
							</select>
						</div>

						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style='margin-top: 28px;'>
							<input type="text" id="search" ng-model='search' class="form-control {{ desabilitar }}" placeholder="Consultar..">
						</div>

						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pull-right" ng-if="registros_carregados == true" >
							<span class="pull-right" style="height: 64px;padding-top: 10px;"><!-- style="margin-top:-54px;margin-bottom: -30px;margin-right: 0px;">-->
								<dir-pagination-controls pagination-id="paginate_registros" max-size="5" auto-hide="false" boundary-links="true" direction-links="true">
								</dir-pagination-controls>
							</span>

						</div>
					</div>
					{% endverbatim %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block recursos_complementares %}
{% load staticfiles %}
{% load compress %}
{% compress js %}
<!--<script src="{ static 'bower_components/jquery.maskedinput/dist/jquery.maskedinput.min.js' %}"></script>-->
<script src="{% static 'modules/core/controle_componentes.js' %}"></script>
<script src="{% static 'modules/core/notifications/js/notifications_controller.js' %}"/>
<script src="{% static 'modules/core/notifications/js/notifications.js' %}"/>
<script src="{% static 'modules/core/navbar/navbar_controller.js' %}"/>
{% endcompress %}
{% endblock %}