{% extends 'base_page.html' %}
{% block Titulo %}<title>Digitar - Configurações</title>{% endblock %}
{% load staticfiles %}
{% block recursos_necessarios %}
{% endblock %}
<style>
	.main_content{
		color: red !important;
	}
</style>
{% block conteudo %}
<div id="angular_content" ng-cloak ng-app="modules.configurations" ng-init="loaded_backups=false;" style="margin-top: -50px;">
  <div id="configuration_controller" ng-controller="configurations_controller">
		<div class="main_content" style="padding: 0px;padding-top: 0px;margin-top:0px;">
			<div class="tab-content">
				<div id="entity_identification" class="tab-pane fade in active">
					<div class="row">
						<div class="col-lg-5">
							<div class="box box-default">
								<div class="box-heading">
									<div class="box-header with-border">
										<h5 class="box-title">Informações do Sistema</h5>
									</div>
								</div>

								<div class="box-body" style="padding-left:15px;padding-right:15px;padding-bottom: 0px;">
									{% verbatim %}
									<div class="row">
										<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
											<p><b style="color: #777;">Versão do Sistema</b><br><!--{ version_informations.local }-->
											Última Atualização: {{ version_informations.last_update }}</p>
										</div>

										<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
											<a ng-show='version_informations.available_update==true' role="button" class="btn btn-sm btn-primary pull-right" id="bt_atualizar" ng-click="update();"> Atualizar Sistema</a>
                      <a ng-show='version_informations.available_update==false' role="button" class="btn btn-sm btn-success pull-right" disabled> Sistema Atualizado</a>
										</div>
									</div>
								 {% endverbatim %}
								</div>
							</div>

							<div class="box box-default">
								<div class="box-heading">
									<div class="box-header with-border">
										<h5 class="box-title">Backups do Sistema</h5>
									</div>
								</div>

								<div class="box-body" style="padding-left:15px;padding-right:15px;padding-bottom:12px;">
									<div class="dataTable_wrapper">
										<div class='row'>
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">

												{% verbatim %}
												<div class="row">
													<div class="col-lg-12 col-sm-12 col-sm-12 col-xs-12">
														<!--<div ng-if="(backups|filter:filterIds()).length == 0" style="text-align: center;">-->
														<div ng-if="system_informations.total_files == 0" style="text-align: center;">
															<p>
																<div style=""><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i></div>
																<div style="margin-left: 0px;">Atenção! Nenhum backup encontrado.<br><a style="cursor: pointer;font-weight: bold;" ng-click="create_backup_local()">Clique aqui para gerar um backup imediatamente.</a></div>
																<br/>
															</p>
														</div>
													</div>
												</div>

												<style>
													#table_backups tr td{
														padding: 0px;
														height: 26px;
													}

													#table_backups tr td:first-child{
														padding-left: 8px;
													}

													#table_backups tr td:last-child,th:last-child{
														width: 140px;
														 text-align: center;
													}
												</style>

												<div class="row">
													<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
														<p><b style="color: #777;">Cópias de segurança</b><br>
														{{ system_informations.total_files }} cópias armazenadas ({{ system_informations.folder_size }})
														</p>
													</div>

													<div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
														<a href="#" id='bt_adicionar' role="button" class="btn btn-sm btn-default pull-right" ng-click="create_backup_local()"> Gerar Cópia</a>
													</div>
												</div>
												<br>
												<div class="row">
													<div class="col-lg-12 col-sm-12 col-sm-12 col-xs-12">
														<p>
															<b style="color: #777;">Backup em Nuvem</b><br>
															<table border="0" style="width:100%;">
																<tr>
																	<td>Total Armazenado: </td>
																	<td style="width:100px;"><span ng-show="loaded_backups == true">{{ backups_informations.used_space/1024| number: 2 }} Kb</span></td>
																	<td>Espaço Utilizado:</td>
																	<td style="width:100px;"><span ng-show="loaded_backups == true" class='pull-right'>{{ backups_informations.used_percent_space| number: 2 }}%</span></span>
</td>
																</tr>

																<tr>
																	<td>Agendamento do Backup:</td>
																	<td style="width:100px;"><span class=''>12h - 23h</span></td>
																	<td>Espaço Disponível: </td><td style="width:100px;text-align: right;">2 Gb</td>
																</tr>
															</table>
															<br>
															<!--Arquivos armazenados: <span ng-show="loaded_backups == true">{ backups_informations.total_files }} itens</span><br>-->
															<!--<button id='bt_alterar' role="button" class="btn btn-sm btn-default {{ opcao_desabilitada }}" disabled="disabled" ng-click="restore_backups()"> Restaurar Backup</button>-->
															<button id='bt_alterar' role="button" class="btn btn-sm btn-default {{ opcao_desabilitada }}" disabled="disabled" ng-click="restore_backups()"> Restaurar Backup</button>
														</p>
													</div>

													<div class="col-lg-12 col-sm-12 col-sm-12 col-xs-12" style="padding-bottom:0px;margin-bottom: -16px;">
														<table id='table_backups' class="table table-hover table-striped table-bordered">
															<tr>
																<th>Ultimos arquivos</th>
																<th>Data de Criação</th>
															</tr>

															<tr id="divCarregando" ng-show="loaded_backups == false" style='height:{{ table_maximun_body_heigth }}px;'>
																<td colspan="2" style='background: #FFFAFA;opacity: 0.5;vertical-align: middle;' class="text-center">
																	<br>
																	<i class="fa fa-refresh fa-spin fa-2x fa-fw"></i><br>Aguarde.. Carregando...<br><br>
																</td>
															</tr>

															<tr class="list-unstyled" ng-show="loaded_backups == true" ng-repeat="item in backups">
																<td style="padding-top: 6px;"><span class="pull-left" style="">{{ item.backup_file_name }} <span style="font-size: 10px; color: #CCC;margin-left: 4px;">{{item.backup_size/1024| number:2}} Kb</span></span></td>
																<td style="padding-top: 6px;"><span>{{ item.created_date| date:'dd/MM/yyyy' }} ás {{ item.created_date| date:'HH:mm' }}</span></td>
															</tr>
														</table>
													</div>
												</div>
												{% endverbatim %}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-7">
							<div class="box box-default">
								<div class="box-heading">
									<div class="box-header with-border">
										<h5 class="box-title">Auditoria</h5>
									</div>
								</div>

								<div class="box-body">
									<div class="dataTable_wrapper">
										<div class='row'>
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												{% verbatim %}
												<table class="table table-condensed  table-striped table-bordered table-hover" id="table_operations" style="width: 100%;">
													<thead>
													<tr class="linha_cabecalho">
														<th class='text-center' style="width: 180px;" ng-click="sortType='username';sortReverse=!sortReverse">Operações Restritas</th>
													</tr>
													</thead>

													<tbody style="font-size: 11px;">

													<tr id="divOperationsCarregando" ng-if="loaded_operations == false" style="height: 10px">
														<td colspan="8" style='background: #FFFAFA;opacity: 0.5;vertical-align: middle;' class="text-center">
															<i class="fa fa-refresh fa-spin fa-3x fa-fw"></i></br></br>Aguarde.. Carregando...
														</td>
													</tr>

													<tr ng-cloak ng-if='loaded_operations' class="angular-repeat" pagination-id="paginate_operations" dir-paginate="operate in operations | filter: get_filter_column() | itemsPerPage:table_maximun_items_per_page | orderBy:sortType:sortReverse as resultado" title="{{ operate.justify }}">
														<td class='text-left'>
															{{ operate.date_operation| date: 'yyyy-MM-dd' }} - {{ operate.date_operation| date: 'HH:mm:ss' }}: {{ operate.username | uppercase}}
															<span ng-if="operate.type=='ADD'"> INCLUIU </span>
															<span ng-if="operate.type=='ALT'"> ALTEROU </span>
															<span ng-if="operate.type=='DEL'"> EXCLUIU </span>
															<span ng-if="operate.type=='DES'"> DESATIVOU </span>
															<span ng-if="operate.type=='REA'"> REATIVOU </span>
															{{ operate.object_name | uppercase }}
														</td>
													</tr>

													<tr ng-if='loaded_operations'  ng-repeat="k in table_minimun_items.slice(operations.length,table_minimun_items.length)">
														<td class='text-center' style="color:white;">.</td>
													</tr>
													</tbody>
												</table>
												{% endverbatim %}
											</div>
										</div>

										<div class='row no-gutter' style="padding: 0px 10px 0px 10px;">
										{% verbatim %}
											<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style='margin-top:6px;'>
												<label id="label_buscar_por" class='left {{ desabilitar }}'><sub>Buscar por:</sub></label>
												<select id='buscar_por' class='form-control' ng-model="filter_by" ng-change="select_filter_by()">
													<option value="0">Usuário</option>
													<option value="1">Operação</option>
													<option value="2" selected>Nome do Registro</option>
													<option value="3" selected>Data da Operação</option>
												</select>
											</div>

											<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style='margin-top: 28px;'>
												<input type="text" id="search" ng-model='search' class="form-control {{ desabilitar }}" placeholder="Consultar..">
											</div>

											<div class="col-lg-offset-2 col-lg-4 col-md-6 col-sm-4 col-xs-12 mt-xs-0 pull-right" ng-if="loaded_operations == true" >
												<span class="pull-right" style="height: 64px;padding-top: 10px;"><!-- style="margin-top:-54px;margin-bottom: -30px;margin-right: 0px;">-->
													<dir-pagination-controls pagination-id="paginate_operations" max-size="5" auto-hide="false" boundary-links="true" direction-links="true">
													</dir-pagination-controls>
												</span>
											</div>
											{% endverbatim %}
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="entity_contact" class="tab-pane fade">
				nada 1
			</div>

			<div id="entity_endereco" class="tab-pane fade">
				nada 2
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block recursos_complementares %}
{% load staticfiles %}
{% load compress %}
{% compress js %}
<script src="{% static 'bower_components/jquery-maskmoney/dist/jquery.maskMoney.min.js' %}" />
<script src="{% static 'modules/core/controle_componentes.js' %}"/>
<script src="{% static 'modules/core/mask.js' %}"/>
<script src="{% static 'modules/core/configurations/configurations_controller.js' %}"/>
<script src="{% static 'modules/core/configurations/configurations.js' %}"/>
{% endcompress %}

<script type="text/javascript">
$(document).ready(function(){
	angular.element(document.getElementById('configuration_controller')).scope().load()
	angular.element(document.getElementById('configuration_controller')).scope().load_operations()
	angular.element(document.getElementById('configuration_controller')).scope().load_backups_informations()
	angular.element(document.getElementById('configuration_controller')).scope().load_version_informations()
	angular.element(document.getElementById('configuration_controller')).scope().load_system_informations()
	angular.element(document.getElementById('configuration_controller')).scope().shared_folder()

});
</script>
{% endblock %}
