{% extends 'base_page.html' %}
{% block Titulo %}<title>Digitar - Configurações</title>{% endblock %}
{% load staticfiles %}
{% block recursos_necessarios %}
{% endblock %}

{% block conteudo %}
<div id="angular_content" ng-cloak ng-app="modules.configurations" ng-init="loaded_backups=false;" style="margin-top: -50px;">
  <div id="configuration_controller" ng-controller="configurations_controller">
		<div class="main_content" style="padding: 0px;padding-top: 0px;margin-top:0px;">
			<div class="tab-content">
				<div id="entity_identification" class="tab-pane fade in active">
					<div class="row">
						<div class="col-lg-5">
							<div class="box box-default">
								<div class="box-heading">
									<div class="box-header with-border">
										<h5 class="box-title">Informações do Sistema</h5>
										<div class="pull-right">
                      <a ng-show='version_informations.available_update==true' role="button" class="btn btn-sm btn-primary pull-right" id="bt_atualizar" ng-click="update();"> Atualizar</a>
                      <a ng-show='version_informations.available_update==false' role="button" class="btn btn-sm btn-default pull-right" disabled> Atualizar</a>
										</div>
									</div>
								</div>

								<div class="box-body">
									<div class="col-lg-12 col-sm-12 col-sm-12 col-xs-12">
										{% verbatim %}
										<div class="row">
											<div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
												<div class="pull-left" style="left: 0px;">Versão Atual: {{ version_informations.local }} </div>
												<div class="pull-left" style="left: 0px;">Última Atualização: {{ version_informations.last_update }} </div>
												<div class="pull-left" style="left: 0px;">Arquivos Armazenados: {{ system_informations.total_files }} itens ({{ system_informations.folder_size }}) </div>
												<!--<div class="pull-left" style=" left: 0px;">Total de Arquivos: {{ system_informations.total_files }} itens</div>-->
											</div>
										</div>
									 {% endverbatim %}
									</div>
								</div>
							</div>

							<div class="box box-default">
								<div class="box-heading">
									<div class="box-header with-border">
										<h5 class="box-title">Controle de Backup</h5>

										<div class="pull-right">
											<a href="#" id='bt_adicionar' role="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal_adicionar_salario" ng-click="create_backup_local()"> Criar Backup</a>
											<a href="#" id='bt_alterar' role="button" class="btn btn-sm btn-default {% verbatim %}{{ opcao_desabilitada }}{% endverbatim %}"   data-toggle="modal" ng-click="restore_backups()"> Restaurar Backup</a>
										</div>
									</div>
								</div>

								<div class="box-body">
									<div class="dataTable_wrapper">
										<div class='row'>
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">

												{% verbatim %}
												<div class="row">
													<div class="col-lg-12 col-sm-12 col-sm-12 col-xs-12">
														<div ng-if="(backups|filter:filterIds()).length == 0" style="text-align: center;">
															<p>
																<div style=""><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i></div>
																<div style="margin-left: 0px;">Atenção! Nenhum backup encontrado.<br><a style="cursor: pointer;font-weight: bold;" ng-click="create_backup()">Clique aqui para gerar um backup imediatamente.</a></div>
																<br/>
															</p>
														</div>
													</div>
												</div>

												<style>
													#table_backups tr td{
														padding: 0px;
														height: 26px;
													}

													#table_backups tr td:first-child{
														padding-left: 8px;
													}

													#table_backups tr td:last-child,th:last-child{
														width: 140px;
														 text-align: center;
													}
												</style>

												<div class="row">
													<div class="col-lg-12 col-sm-12 col-sm-12 col-xs-12">
														<table class="table table-bordered table-striped">
															<tr>
																<th colspan="2" style="text-align: left; padding-left: 8px;">Armazenamento em Nuvem</th>
															</tr>

															<tr>
																<td>
																	<style>
																	.progress-bar {
																		background-image: -webkit-gradient(linear, left top, right top, from(#04B431), to(#DF0101));
																	}
																	</style>
																	<div class="col-lg-12 col-sm-12 col-sm-12 col-xs-12" style="padding-top: 10px;">
																		<div class="pull-left" style="left: 0px;">Espaço utilizado</div>
																		<div class="pull-right" style="right: 0px;">{{ backups_informations.used_percent_space| number: 2 }}%</div>
																		<div class="progress progress_sm" style="width: 100%;">
																			<div class="progress-bar bg-green pull-left" role="progressbar" data-transitiongoal="{{ backups_informations.used_percent_space }}" style="width: {{ backups_informations.used_percent_space }}%;" aria-valuenow="{{ backups_informations.used_percent_space }}"></div>
																		</div>
																	</div>

																	<br>

																	<div class="col-lg-12 col-sm-12 col-sm-12 col-xs-12">
																		<div class="row" style="padding-top: 20px;">

																			<div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
																				<div class="left" style="left: 0px;">Arquivos armazenados: <span ng-show="loaded_backups == true">{{ backups_informations.total_files }} itens</span></div>
																				<div class="left" style="left: 0px;">Espaço Utilizado: <span ng-show="loaded_backups == true">{{ backups_informations.used_space/1024| number: 2 }} Kb</span></div>
																				<div class="left" style="left: 0px;">Espaço Contratado: 2 Gb</div>
																				<!--<div class="pull-left">Plano de Armazenamento: Básico</div>
																				<div class="pull-left">Agendamento de Backups: Diário - 00:00</div>
																				<div class="pull-left">Reciclagem automática: Ativada</div>
																				<div class="pull-left">Limpeza manual de arquivos</div>-->
																			</div>

																			<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
																				<!--<div class="pull-right" ><a href="{{ shared_informations.folder_link }}" id='bt_manager_dropbox' role="button" class="btn btn-sm btn-default" > Gerenciar Armazenamento</a></div>-->
																				<!--<a href="#" id='bt_manager_dropbox' role="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#" ng-click="manager_dropbox()"> Gerenciar Armazenamento</a>-->
																				<!--<a href="#" id='bt_manager_dropbox' role="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#" ng-click="manager_dropbox()"> Gerenciar Armazenamento</a>-->
																				<!--<div class="left" style="left: 0px;">Espaço Utilizado: {{ backups_informations.used_space }} Kb</div>
																				<div class="left" style="left: 0px;">Espaço Contratado: 2 Gb</div>
																				<div class="pull-left">Plano de Armazenamento: Básico</div>
																				<div class="pull-left">Agendamento de Backups: Diário - 00:00</div>
																				<div class="pull-left">Reciclagem automática: Ativada</div>
																				<div class="pull-left">Limpeza manual de arquivos</div>-->
																			</div>

																			<!--<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
																				<div class="left" style="left: 0px;">Arquivos armazenados: {{ backups_informations.total_files }} itens</div>
																				<div class="left" style="left: 0px;">Espaço Utilizado: {{ backups_informations.used_space }}</div>
																				<div class="left" style="left: 0px;">Espaço Contratado: 2 Gb</div>
																				<div class="left" style="left: 0px;">Espaço Promocional: 500 Mb</div>
																				<br>

																			</div>-->
																		</div>
																	</div>
																</td>
															</tr>
														</table>
													</div>

													<div class="col-lg-12 col-sm-12 col-sm-12 col-xs-12" style="padding-bottom:0px;margin-bottom: -16px;">
														<table id='table_backups' class="table table-hover table-striped table-bordered">
															<tr>
																<th>Ultimos arquivos</th>
																<th>Data de Criação</th>
															</tr>

															<tr id="divCarregando" ng-show="loaded_backups == false" style='height:{{ table_maximun_body_heigth }}px;'>
																<td colspan="2" style='background: #FFFAFA;opacity: 0.5;vertical-align: middle;' class="text-center">
																	<br>
																	<i class="fa fa-refresh fa-spin fa-2x fa-fw"></i><br>Aguarde.. Carregando...<br><br>
																</td>
															</tr>

															<tr class="list-unstyled" ng-show="loaded_backups == true" ng-repeat="item in backups">
																<td><span class="pull-left" style="">{{ item.backup_file_name }} <span style="font-size: 10px; color: #CCC;margin-left: 4px;">{{item.backup_size/1024| number:2}} Kb</span></span></td>
																<td><span>{{ item.created_date| date:'dd/MM/yyyy' }} ás {{ item.created_date| date:'HH:mm' }}</span></td>
															</tr>
														</table>
													</div>
												</div>
												{% endverbatim %}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-7">
							<div class="box box-default">
								<div class="box-heading">
									<div class="box-header with-border">
										<h5 class="box-title" > Últimas Operações</h5>
									</div>
								</div>

								<div class="box-body">
									<div class="dataTable_wrapper">
										<div class='row'>
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
												{% verbatim %}
												<table class="table table-condensed  table-striped table-bordered table-hover" id="table_operations" style="width: 100%;">
													<thead>
													<tr class="linha_cabecalho">
														<th class='text-center' style="width: 10px;"  ng-click="sortType='id';sortReverse=!sortReverse">N°</th>
														<th class='text-center' style="width: 180px;" ng-click="sortType='username';sortReverse=!sortReverse">Usuário</th>
														<th class='text-center' style="width: 180px;" ng-click="sortType='object_name';sortReverse=!sortReverse">Registro</th>
														<th class='text-center' style="width: 180px;" ng-click="sortType='type';sortReverse=!sortReverse">Operação</th>
														<th class='text-center' style="width: 180px;" ng-click="sortType='justify';sortReverse=!sortReverse">Justificativa</th>
													</tr>
													</thead>

													<tbody style="font-size: 11px;">

													<tr id="divOperationsCarregando" ng-if="loaded_operations == false" style="height: 10px">
														<td colspan="8" style='background: #FFFAFA;opacity: 0.5;vertical-align: middle;' class="text-center">
															<i class="fa fa-refresh fa-spin fa-3x fa-fw"></i></br></br>Aguarde.. Carregando...
														</td>
													</tr>

													<tr ng-cloak ng-if='loaded_operations' class="angular-repeat " pagination-id="paginate_operations" dir-paginate="operate in operations | filter: get_filter_column() | itemsPerPage:table_maximun_items_per_page | orderBy:sortType:sortReverse as resultado">
														<td class='text-center' style="width: 10px;">{{ operate.id }}</td>
														<td class="col-cliente text-left"  style="width: 150px;">{{ operate.username  | uppercase}}</td>
														<td class='text-left' style="width: 180px;">{{ operate.object_name | uppercase }}</td>
														<td class='text-left' style="width: 100px;">
															<span ng-if="operate.type=='ADD'">ADIÇÃO</span>
															<span ng-if="operate.type=='ALT'">ALTERAÇÃO</span>
															<span ng-if="operate.type=='DEL'">EXCLUSÃO</span>
															<span ng-if="operate.type=='DES'">DESATIVAÇÃO</span>
															<span ng-if="operate.type=='REA'">REATIVAR</span>
														<td class='text-left' style="width: 180px;">{{ operate.justify }}</td>
														</td>

													</tr>

													<tr ng-if='loaded_operations'  ng-repeat="k in table_minimun_items.slice(operations.length,table_minimun_items.length)">
														<td class='text-center' style="width:10px;">-</td>
														<td style="width:180px;"></td>
														<td style="width:180px;"></td>
														<td style="width:180px;"></td>
														<td style="width:180px;"></td>
													</tr>



													<tr ng-if="operations.length == 0">
														<td colspan="7" class='text-center'>Nenhum resultado Encontrado</td>
													</tr>
													</tbody>
												</table>
												{% endverbatim %}
											</div>
										</div>

										<div class='row no-gutter' style="padding: 0px 10px 0px 10px;">
										{% verbatim %}
											<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style='margin-top:6px;'>
												<label id="label_buscar_por" class='left {{ desabilitar }}'><sub>Buscar por:</sub></label>
												<select id='buscar_por' class='form-control' ng-model="filter_by" ng-change="select_filter_by()">
													<option value="0">Id</option>
													<option value="1">Username</option>
													<option value="2" selected>Registro</option>
												</select>
											</div>

											<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style='margin-top: 31px;'>
												<input type="text" id="search" ng-model='search' class="form-control {{ desabilitar }}" placeholder="Consultar..">
											</div>

											<div class="col-lg-offset-2 col-lg-4 col-md-6 col-sm-4 col-xs-12 mt-xs-0 pull-right" ng-if="loaded_operations == true" >
												<span class="pull-right" style="height: 64px;padding-top: 10px;"><!-- style="margin-top:-54px;margin-bottom: -30px;margin-right: 0px;">-->
													<dir-pagination-controls pagination-id="paginate_operations" max-size="5" auto-hide="false" boundary-links="true" direction-links="true">
													</dir-pagination-controls>
												</span>
											</div>
											{% endverbatim %}
										</div>

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="entity_contact" class="tab-pane fade">
				nada 1
			</div>

			<div id="entity_endereco" class="tab-pane fade">
				nada 2
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block recursos_complementares %}
{% load staticfiles %}
{% load compress %}
{% compress js %}
<script src="{% static 'bower_components/jquery-maskmoney/dist/jquery.maskMoney.min.js' %}"></script>
<script src="{% static 'modules/core/controle_componentes.js' %}"></script>
<script src="{% static 'modules/core/mask.js' %}"></script>
<script src="{% static 'modules/core/configurations/configurations_controller.js' %}"></script>
<script src="{% static 'modules/core/configurations/configurations.js' %}"></script>
{% endcompress %}

<script type="text/javascript">
$(document).ready(function(){
	angular.element(document.getElementById('configuration_controller')).scope().load()
	angular.element(document.getElementById('configuration_controller')).scope().load_operations()
	angular.element(document.getElementById('configuration_controller')).scope().load_backups_informations()
	angular.element(document.getElementById('configuration_controller')).scope().load_version_informations()
	angular.element(document.getElementById('configuration_controller')).scope().load_system_informations()
	angular.element(document.getElementById('configuration_controller')).scope().shared_folder()
});
</script>
{% endblock %}
