{% extends 'base_page.html' %}
{% block Titulo %}<title>Digitar - Configurações</title>{% endblock %}
{% load staticfiles %}
{% block recursos_necessarios %}
{% endblock %}

{% block conteudo %}
<div id="angular_content" ng-cloak ng-app="modules.configurations" ng-init="loaded_backups=false;" style="margin-top: -50px;">
  <div id="configuration_controller" ng-controller="configurations_controller">
		<div class="main_content" style="padding: 0px;padding-top: 0px;margin-top:0px;">
			<div class="tab-content">
				<div id="entity_identification" class="tab-pane fade in active">
					<div class="row">
						<div class="col-lg-6">
							<div class="box box-default">
								<div class="box-heading">
									<div class="box-header with-border">
										<h5 class="box-title">Informações do Sistema</h5>
										<div class="pull-right">
                      <a ng-show='version_informations.available_update==true' role="button" class="btn btn-sm btn-default pull-right" id="bt_atualizar" ng-click="update();"> Atualizar</a>
                      <a ng-show='version_informations.available_update==false' role="button" class="btn btn-sm btn-default pull-right" disabled> Atualizar</a>
										</div>
									</div>
								</div>

								<div class="box-body">
									<div class="col-lg-12 col-sm-12 col-sm-12 col-xs-12">
										{% verbatim %}
										<div class="row">
											<div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
												<div class="pull-left" style="left: 0px;">Versão atual: {{ version_informations.local }} </div>
												<div class="pull-left" style="left: 0px;">Última Atualização: {{ version_informations.last_update }} </div>
											</div>
										</div>
									 {% endverbatim %}
									</div>
								</div>
							</div>

							<div class="box box-default">
								<div class="box-heading">
									<div class="box-header with-border">
										<h5 class="box-title">Auditoria</h5>
										<div class="pull-right">
											<!--<a href="#" id='bt_adicionar' role="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal_adicionar_salario" ng-click="create_backup()"><i class="fa fa-plus fa-1x" aria-hidden="true"></i> Criar Backup</a>
											<a href="#modal_adicionar_salario" id='bt_alterar' role="button" class="btn btn-sm btn-default {% verbatim %}{{ opcao_desabilitada }}{% endverbatim %}"   data-toggle="modal" ng-click="configurar_alteracao_salario();esta_adicionando = false"><i class="fa fa-file-text-o"></i> Restaurar Backup</a>
											<a role="button" class="btn btn-sm btn-default pull-right {% verbatim %}{{ opcao_desabilitada }}{% endverbatim %}" id="bt_excluir" ng-click="excluir_salario();"><i class="fa fa-trash-o" aria-hidden="true"></i> Baixar</a>-->
										</div>
									</div>
								</div>

								<div class="box-body">

								</div>
							</div>
						</div>

						<div class="col-lg-6">
							<div class="box box-default">
								<div class="box-heading">
									<div class="box-header with-border">
										<h5 class="box-title">Controle de Backup</h5>

										<div class="pull-right">
											<a href="#" id='bt_adicionar' role="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#modal_adicionar_salario" ng-click="create_backup()"> Criar Backup</a>
											<a href="#" id='bt_alterar' role="button" class="btn btn-sm btn-default {% verbatim %}{{ opcao_desabilitada }}{% endverbatim %}"   data-toggle="modal" ng-click="restore_backups()"> Restaurar Backup</a>
										</div>
									</div>
								</div>

								<div class="box-body">
									<div class="dataTable_wrapper">
										<div class='row'>
											<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-left">

												{% verbatim %}
												<div class="row">
													<div class="col-lg-6 col-sm-6 col-sm-12 col-xs-12">
														<div ng-if="(backups|filter:filterIds()).length == 0" style="text-align: center;">
															<p style='background: blue;'>
																<div style=""><i class="fa fa-exclamation-triangle fa-2x" aria-hidden="true"></i></div>
																<div style="margin-left: 0px;">Atenção! Nenhum backup encontrado.<br><a style="cursor: pointer;font-weight: bold;" ng-click="create_backup()">Clique aqui para gerar um backup imediatamente.</a></div>
															</p>
														</div>
													</div>
												</div>

												<style>
													#table_backups tr td{
														padding: 0px;
														height: 26px;
													}

													#table_backups tr td:first-child{
														padding-left: 8px;
													}

													#table_backups tr td:last-child,th:last-child{
														width: 140px;
														 text-align: center;
													}
												</style>

												<div class="row">
													<div class="col-lg-12 col-sm-12 col-sm-12 col-xs-12">
														<table class="table table-bordered table-striped">
															<tr>
																<th colspan="2" style="text-align: left; padding-left: 8px;">Armazenamento em Nuvem</th>
															</tr>

															<tr>
																<td>
																	<style>
																	.progress-bar {
																		background-image: -webkit-gradient(linear, left top, right top, from(#04B431), to(#DF0101));
																	}
																	</style>
																	<div class="col-lg-12 col-sm-12 col-sm-12 col-xs-12" style="padding-top: 10px;">
																		<div class="pull-left" style="left: 0px;">Espaço utilizado</div>
																		<div class="pull-right" style="right: 0px;">{{ backups_informations.used_percent_space| number: 2 }}%</div>
																		<div class="progress progress_sm" style="width: 100%;">
																			<div class="progress-bar bg-green pull-left" role="progressbar" data-transitiongoal="{{ backups_informations.used_percent_space }}" style="width: {{ backups_informations.used_percent_space }}%;" aria-valuenow="{{ backups_informations.used_percent_space }}"></div>
																		</div>
																	</div>

																	<br>

																	<div class="col-lg-12 col-sm-12 col-sm-12 col-xs-12">
																		<div class="row" style="padding-top: 20px;">

																			<div class="col-lg-7 col-md-6 col-sm-6 col-xs-12">
																				<div class="left" style="left: 0px;">Arquivos armazenados: <span ng-show="loaded_backups == true">{{ backups_informations.total_files }} itens</span></div>
																				<div class="left" style="left: 0px;">Espaço Utilizado: <span ng-show="loaded_backups == true">{{ backups_informations.used_space| number: 2 }} Kb</span></div>
																				<div class="left" style="left: 0px;">Espaço Contratado: 2 Gb</div>
																				<!--<div class="pull-left">Plano de Armazenamento: Básico</div>
																				<div class="pull-left">Agendamento de Backups: Diário - 00:00</div>
																				<div class="pull-left">Reciclagem automática: Ativada</div>
																				<div class="pull-left">Limpeza manual de arquivos</div>-->
																			</div>

																			<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
																				<!--<div class="pull-right" ><a href="{{ shared_informations.folder_link }}" id='bt_manager_dropbox' role="button" class="btn btn-sm btn-default" > Gerenciar Armazenamento</a></div>-->
																				<!--<a href="#" id='bt_manager_dropbox' role="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#" ng-click="manager_dropbox()"> Gerenciar Armazenamento</a>-->
																				<a id='bt_manager_dropbox' role="button" class="btn btn-sm btn-primary pull-right" data-toggle="modal" data-target="#" ng-click="manager_dropbox()"> Gerenciar Armazenamento</a>
																				<!--<div class="left" style="left: 0px;">Espaço Utilizado: {{ backups_informations.used_space }} Kb</div>
																				<div class="left" style="left: 0px;">Espaço Contratado: 2 Gb</div>
																				<div class="pull-left">Plano de Armazenamento: Básico</div>
																				<div class="pull-left">Agendamento de Backups: Diário - 00:00</div>
																				<div class="pull-left">Reciclagem automática: Ativada</div>
																				<div class="pull-left">Limpeza manual de arquivos</div>-->
																			</div>

																			<!--<div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
																				<div class="left" style="left: 0px;">Arquivos armazenados: {{ backups_informations.total_files }} itens</div>
																				<div class="left" style="left: 0px;">Espaço Utilizado: {{ backups_informations.used_space }}</div>
																				<div class="left" style="left: 0px;">Espaço Contratado: 2 Gb</div>
																				<div class="left" style="left: 0px;">Espaço Promocional: 500 Mb</div>
																				<br>

																			</div>-->
																		</div>
																	</div>
																</td>
															</tr>
														</table>
													</div>

													<div class="col-lg-12 col-sm-12 col-sm-12 col-xs-12" style="padding-bottom:0px;margin-bottom: -16px;">
														<table id='table_backups' class="table table-hover table-striped table-bordered">
															<tr>
																<th>Ultimos arquivos</th>
																<th>Data de Criação</th>
															</tr>

															<tr id="divCarregando" ng-show="loaded_backups == false" style='height:{{ table_maximun_body_heigth }}px;'>
																<td colspan="2" style='background: #FFFAFA;opacity: 0.5;vertical-align: middle;' class="text-center">
																	<br>
																	<i class="fa fa-refresh fa-spin fa-2x fa-fw"></i><br>Aguarde.. Carregando...<br><br>
																</td>
															</tr>

															<tr class="list-unstyled" ng-show="loaded_backups == true" ng-repeat="item in backups">
																<td><span class="pull-left" style="">{{ item.file_name }} <span style="font-size: 10px; color: #CCC;margin-left: 4px;">{{ item.size }} Kb</span></span></td>
																<td><span>{{ item.client_modified| date:'dd/MM/yyyy' }} ás {{ item.client_modified| date:'HH:mm' }}</span></td>
															</tr>
														</table>
													</div>
												</div>
												{% endverbatim %}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div id="entity_contact" class="tab-pane fade">
				nada 1
			</div>

			<div id="entity_endereco" class="tab-pane fade">
				nada 2
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block recursos_complementares %}
{% load staticfiles %}
{% load compress %}
{% compress js %}
<script src="{% static 'bower_components/jquery-maskmoney/dist/jquery.maskMoney.min.js' %}"></script>
<script src="{% static 'modules/core/controle_componentes.js' %}"></script>
<script src="{% static 'modules/core/mask.js' %}"></script>
<script src="{% static 'modules/core/configurations/configurations_controller.js' %}"></script>
<script src="{% static 'modules/core/configurations/configurations.js' %}"></script>
{% endcompress %}

<script type="text/javascript">
$(document).ready(function(){
	angular.element(document.getElementById('configuration_controller')).scope().load()
	angular.element(document.getElementById('configuration_controller')).scope().load_backups_informations()
	angular.element(document.getElementById('configuration_controller')).scope().load_version_informations()
	angular.element(document.getElementById('configuration_controller')).scope().shared_folder()
});
</script>
{% endblock %}
