<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

	{% block Titulo %}
    <title>Digitar</title>
    {% endblock %}
	
	{% load staticfiles %}
    {% block ArquivosEstaticos %}
    
    {% endblock %}
    
    {% block recrusos_necessarios %}
    
    {% endblock %}
    
    <!-- jQuery -->
    <!--<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>-->
    
	<!-- Bootstrap Core JavaScript -->
    <!--<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>-->
    
    <!-- ICONES -->
	<link href="{% static 'icones/css/font-awesome.min.css' %}" rel="stylesheet"/>	
    
    <!-- CUSTOM THEME 
    <link rel="stylesheet" type="text/css" href="{% static 'styles/custom_theme.css' %}"/>
    -->
    <!-- CUSTOM THEME 
    <link rel="stylesheet" type="text/css" href="{% static 'styles/darkness_theme.css' %}"/>--> 
    
    
</head>

<body>
	<div id="wrapper">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      
		      <a class="navbar-brand" href="#"><img src="{% static 'imagens/exemplo_logo.png' %}" alt="logo" height="40px" style='margin-top:-10px;'/></a>
		    </div>
		
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		
		      <ul class="nav navbar-nav">
		        
		        <li class="dropdown" >
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cadastros <span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="/cadastro_entidades">Cadastro de Entidades</a></li>
		            <li><a href="/adicionar_entidade">Adicionar Entidade</a></li>
		            <!-- <li><a>Agenda Telefônica</a></li>  
		            <li role="separator" class="divider"></li>-->
		          </ul>
		        </li>
		        
		        <li class="dropdown" >
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Protocolo <span class="caret"></span></a>
		          <ul class="dropdown-menu">
                      <li><a href="/protocolo/emitir_protocolo">Emitir Protocolo</a></li>
                      <li><a href="/protocolo">Controle de Protocolos</a></li>
		              <li><a href="/protocolo/documentos">Cadastro de Documentos</a></li>
		          </ul>
		        </li>
		      </ul>
		      
		      <ul class="nav navbar-nav navbar-right">
		        <li><a href="/admin">Configurações</a></li>
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Diego Pasti<span class="caret"></span></a>
		          <ul class="dropdown-menu">
		            <li><a href="/cadastrar_empresa">Cadastrar Minha Empresa</a></li>
		            <li role="separator" class="divider"></li>
		            <li><a href="#">Sair</a></li>
		          </ul>
		        </li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
		
		<div id="page-wrapper"  style="padding: 25px;">
		
		
		{% block Principal %}
		
		
		{% endblock %}
		</div>
	</div>
</body>

{% block ArquivosScripts %}
	 
{% endblock %}

{% block recursos_complementares %}
	 
{% endblock %}

</html>