<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% block Titulo %}
    <title>Digitar Acessoria Contábil</title>
  {% endblock %}

  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  {% load staticfiles %}
  <script src="{% static 'bower_components/angular/angular.min.js'%}"></script>
  <!-- JQUERY 2.2.3 -->
  <script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'modules/core/viewport/viewport_controll.min.js'%}"></script>
  <!--<script src="{ static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>-->

  <!-- NProgress -->
  <link href="{% static 'bower_components/nprogress/nprogress.css' %}" rel="stylesheet">
  <script src="{% static 'bower_components/nprogress/nprogress.js' %}"></script>

  <!-- THEME -->
  <link href="{% static 'custom/adminlte/css/AdminLTE.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'custom/adminlte/css/skins/skin-blue.min.css' %}" rel="stylesheet"/>

  <!-- BOOTSTRAP 3.3.6 -->
  <link href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet"/>

  <!-- Font Awesome -->
  <link href="{% static 'bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

  <link href="{% static 'modules/core/base.css' %}" rel="stylesheet"/>

  {% block recrusos_necessarios %}

  {% endblock %}
<style>
    .content-wrapper, .right-side {
        background-color: #ecf0f5;
    }
</style>

</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->

<div class="clearfix"></div>
<body class="hold-transition skin-blue sidebar-mini sidebar-collapse">
<script>
  NProgress.start();
</script>
<div class="wrapper">

  <!-- Main Header -->
  <header class="main-header">

    <!-- Logo -->
    <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><img src="{% static 'imagens/logo.png' %}" alt="logo" height="35" width="30" /></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Digitar</b></span>
    </a>

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <!-- Menu toggle button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 4 messages</li>
              <li>
                <!-- inner menu: contains the messages -->
                <ul class="menu">
                  <li><!-- start message -->
                    <a href="#">
                      <div class="pull-left">
                        <!-- User Image -->
                          {% load staticfiles %}
                          <img src="{% static 'imagens/avatar5.png' %}" alt="user-image" />
                        <!-- <img src="dist/img/user8-128x128.jpg"  alt="User Image">-->
                      </div>
                      <!-- Message title and timestamp -->
                      <h4>
                        Support Team
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <!-- The message -->
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <!-- end message -->
                </ul>
                <!-- /.menu -->
              </li>
              <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
          </li>
          <!-- /.messages-menu -->

          <!-- Notifications Menu -->
          <li class="dropdown notifications-menu">
            <!-- Menu toggle button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li>
                <!-- Inner Menu: contains the notifications -->
                <ul class="menu">
                  <li><!-- start notification -->
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                  <!-- end notification -->
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
          <!-- Tasks Menu -->
          <li class="dropdown tasks-menu">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
              <span class="label label-danger">9</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 9 tasks</li>
              <li>
                <!-- Inner menu: contains the tasks -->
                <ul class="menu">
                  <li><!-- Task item -->
                    <a href="#">
                      <!-- Task title and progress text -->
                      <h3>
                        Design some buttons
                        <small class="pull-right">20%</small>
                      </h3>
                      <!-- The progress bar -->
                      <div class="progress xs">
                        <!-- Change the css width attribute to simulate progress -->
                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">20% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                </ul>
              </li>
              <li class="footer">
                <a href="#">View all tasks</a>
              </li>
            </ul>
          </li>
          <!-- User Account Menu -->
          <li class="dropdown user user-menu"  style="height: 50px;margin-right: auto;">
            <!-- Menu Toggle Button -->
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"  style="height: 100%;">
              <!-- The user image in the navbar-->
                {% load staticfiles %}
              <img src="{% static 'imagens/avatar5.png' %}" alt="user-image" class="user-image"/>
              <!-- hidden-xs hides the username on small devices so only the image appears. -->
              <span class="hidden-xs">{{ operador }}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- The user image in the menu -->
              <li class="user-header">
                  {% load staticfiles %}
                <img src="{% static 'imagens/avatar5.png' %}" class="img-circle" alt="user-image">

                <p>
                  {{ operador }}
                  <small>Cadastrado em 04/02/2016</small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div>
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="#" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
           -->
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <div class="clearfix"></div>
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      <!-- Sidebar user panel (optional) -->
      <!--<div class="user-panel">

        <div class="pull-left image">
          <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Alexander Pierce</p>
          <!-- Status
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>

      </div>
      -->

      <!-- search form (Optional)
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form> -->
      <!-- /.search form -->

      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <!-- Optionally, you can add icons to the links -->

        <li class="treeview">
          <a href="#"><i class="fa fa-users"></i> <span>Clientes</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/entidade">Cadastro de Clientes</a></li>
            <li><a href="/entidade/adicionar">Adicionar Cliente</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#"><i class="fa fa-envelope-o"></i> <span>Protocolo</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/protocolo">Controle de Protocolos</a></li>
            <li><a href="/protocolo/emitir_protocolo">Emitir Protocolo</a></li>
            <li><a href="/preferencias/protocolo/documentos">Documentos</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#"><i class="fa fa-briefcase" aria-hidden="true"></i><span>Honorário</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/honorario">Contratos</a></li>
            <li><a href="/provents">Proventos</a></li>
            <li><a href="/planos">Planos</a></li>
            <li><a href="/preferencias/servicos">Serviços</a></li>
          </ul>
        </li>

        <li class="treeview">
          <a href="#"><i class="fa fa-wrench" aria-hidden="true"></i> <span>Preferências</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
              <li><a href="/preferencias">Variáveis do Sistema</a></li>


          </ul>
        </li>
      </ul>
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="clearfix"></div>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

      <h1 style="padding-bottom: 10px;">
      {% block breadcrumb_title %}

      {% endblock %}
      </h1>

      <ol class="breadcrumb">
          {% block breadcrumb_block %}

          {% endblock %}
      </ol>
    </section>

    <!-- Main content -->
    <section class="content" style="margin-top:30px;">
    {% block conteudo %}


	{% endblock %}
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer
  <footer class="main-footer">
    <!-- To the right
    <div class="pull-right hidden-xs">
      Anything you want
    </div>
    <!-- Default to the left
    <strong>Copyright &copy; 2016 <a href="#">Company</a>.</strong> All rights reserved.
  </footer>


  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->


<div class="clearfix"></div>

<!-- Optionally, you can add Slimscroll and FastClick plugins.
     Both of these plugins are recommended to enhance the
     user experience. Slimscroll is required when using the
     fixed layout. -->
</body>
<script>
  function load_file(file_path, file_type){
		if (file_type=='js'){
			var scriptElement = document.createElement('script');
			scriptElement.type = 'text/javascript';
			scriptElement.src = file_path;
			document.head.appendChild(scriptElement);
			return true;
		}
		else if(file_type=='css'){
		  var styleElement = document.createElement('link');
			styleElement.rel = 'stylesheet';
			styleElement.href = file_path;
			document.head.appendChild(styleElement);
		}
		else{
		}
	}
</script>

<script>
  $(document).ready(function() {
    load_file("{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}","js")
		load_file("{% static 'custom/adminlte/js/app.min.js' %}","js")
		load_file("{% static 'bower_components/pnotify/dist/pnotify.css' %}","css")
		load_file("{% static 'bower_components/pnotify/dist/pnotify.js' %}","js")
		load_file("{% static 'modules/core/working.js' %}","js")
	});
NProgress.done();
</script>
{% block recursos_complementares %}

{% endblock %}
</html>
