{% extends 'base_page.html' %}
{% block Titulo %}
<title>Digitar - Blank Page</title>
{% endblock %}

{% block recursos_necessarios %}
{% endblock %}

{% block breadcrumb_block %}
<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
{% endblock %}

{% block conteudo %}
{% endblock %}

{% block recursos_complementares %}
<script>
function init(){
	verify_screen_paramters();
}
function post_screen_verified(){
	//angular.element(document.getElementById('controle_angular')).scope().reajustar_tela();
}
</script>
{% endblock %}