{% extends 'base_page.html' %}
{% block Titulo %}
<title>Digitar - Blank Page</title>
{% endblock %}

{% block recursos_necessarios %}
<style>
#inner {
  display: table;
  margin: 0 auto;
  margin-top: 80px;
}
</style>
{% endblock %}

{% block conteudo %}
{% load staticfiles %}
<div id="outer" style="width:100%">
  <div id="inner">
	  <!--<img data-src="% static 'imagens/exemplo_logo.png' %}" />-->
  </div>
</div>
{% endblock %}

{% block recursos_complementares %}
<script>
function init(){
	verify_screen_paramters();
}
function post_screen_verified(){
	//angular.element(document.getElementById('controle_angular')).scope().reajustar_tela();
}
</script>
{% endblock %}