{% extends 'base.html' %}
{% block Titulo %}
	<meta charset="utf-8">
    <title>Digitar - Cadastro de Entidades</title>
{% endblock %}

{% block ArquivosEstaticos %}
<style type="text/css">

.row.better_col_spacings_first_chield [class*='col-']:first-child {
	padding-right:5px;
	padding-bottom:15px;
}

.row.better_col_spacings_last_chield [class*='col-']:last-child {
	padding-left:5px;
	padding-bottom:15px;
}

.row.better_col_middle_spacings [class*='col-']:not(:first-child):not(:last-child) {
  padding-right:5px;
  padding-left:5px;
  padding-bottom:15px;
}

.uppercase{ 
    text-transform: uppercase;
}

.lowercase{ 
    text-transform: uppercase;
}


.scrollable {
    height: 100px;
    overflow-y: scroll;
  }
</style>
{% endblock %} 

{% block Principal %}

<div class="container">
  <div class="row">    
    <h1 class="text-center"><a href="#myModal" role="button" class="btn btn-primary btn-lg" data-toggle="modal">Adicionar Entidade</a></h1>
  </div>
</div>

<div id="myModal" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog" style="width: 90%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Adicionar Entidade</h3>
      </div>
      <form action="" method="post">  <!-- <button type='submit' name='elevar_indice_categoria' value='{{ item.codigo }}  -->
	  	{% csrf_token %}
      	<div class="modal-body" style="padding: 30px;">    
		      {% include "componentes/cadastros/entidade/formulario_identificacao.html" %}
		      
		</div>		      
	      <div class="modal-footer">
	      	<div class="form-group">
	      		<button type="submit" id="bt_formulario" class="btn btn-success pull-right">Enviar</button> 
	      		
	      		
				<!--  <p class="help-block pull-left text-danger hide" id="form-error">&nbsp;{{ message }}</p></div>  -->
				
	      		
	      		
	        <!-- <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button> -->
	     </div>
	    </form>
      </div>
    </div>
  </div>
  
<div class='row'>
	<div class="col-lg-12">
		<!--  {% include "componentes/cadastros/entidade/cadastro_geral.html" with dados=dados_entidades form=formulario datatable_nome="datatable" %}  -->
	</div>
</div>

{% include "componentes/mensagem.html" with messages=messages %}

{% endblock %}

{% block ArquivosScripts %}
{% load staticfiles %}

<script type="text/javascript" src="{% static 'jquery/dist/mask.js' %}"></script>
 <script type="text/javascript">
 $(".alert").fadeOut(6000);
</script>

<script type="text/javascript">
$('#codigo_postal').blur(function(){
	$.ajax({
		url: '/consultar_cep/'+$('#codigo_postal').val(),
	    type: 'get', //this is the default though, you don't actually need to always mention it
	    success: function(data) {
	    	$('#endereco').val(data[0]);
	    	$('#bairro').val(data[1]);
	    	$('#municipio').val(data[2]);
	    	$('#estado').val(data[3]);
	    	$('#codigo_municipio').val(data[4]);
	    	$('#pais').val(data[5]);
	        $('#numero_endereco').focus();
	      //alert(data);
	    },
	    failure: function(data) { 
	        alert('Got an error dude');
	    }
	}); 
}); 
</script>

<script type="text/javascript">
$('#tipo_contato').blur(function(){
	var campo_telefone = document.getElementById('tipo_contato');
	if (campo_telefone.value == 'C') {
		$("#numero_contato").mask("(99) 99999-9999");
	} else {		
		if (campo_telefone.value == 'F') {
			$("#numero_contato").mask("(99) 9999-9999");
		} else {
			$("#numero_contato").unmask();
		}
	} 
}); 
</script>

<script>
jQuery(document).ready(function(){
	$("#cpf_cnpj").mask("999.999.999-99");
   	$("#nascimento_fundacao").mask("99/99/9999");
   	$("#numero_contato").mask("(99) 99999-9999");
   	$("#codigo_postal").mask("99999999");
});
</script>



<script>
$(document).ready(function() {
	
	{% if erro %}
    	$('#myModal').modal('show');
    	BootstrapDialog.show({
	        message: $("Tentando")
	    });
    	
    	
    
    {% else %}
		$('#myModal').modal('hide');
	{% endif %}
});

</script>

<!--   {% include "componentes/scripts/cadastro_categorias.html"  with datatable_nome="datatable" %} -->

{% endblock %}