{% extends 'base_page.html' %}
{% block Titulo %}<meta charset="utf-8"><title>Digitar - Contratos</title>{% endblock %}
{% load staticfiles %}
{% block recursos_necessarios %}
{% load compress %}
{% compress css %}
<link rel="stylesheet" href="{% static 'bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css' %}">
<link href="{% static 'modules/service/servico.css' %}" rel="stylesheet"/>
{% endcompress %}

<style type="text/css">
.uppercase{
    text-transform: uppercase;
}

.lowercase{
    text-transform: uppercase;
}

.center{
    text-align: center;
}

.left{
	padding-left: 8px;
	text-align: left;
}

.right{
    text-align: right;
}

.link_desabilitado {
     pointer-events: none;
     cursor: default;
     opacity: 0.6;
}

.div_desabilitado {
	display: none;
    z-index: 1000;
    background-color: lightgrey;
    opacity: 0.6;
    pointer-events: none;
}

.dataTables_paginate {
	position: relative;
    display: block;
    top: 30px;
}

label {
    font-weight: normal !important;
}

.form-group label{
	margin-left: 8px;
}

.linha_cabecalho th{
	cursor: pointer;
}

 /* unvisited link */
.linha_cabecalho a {
    color: #666;
    text-decoration: none;
    cursor: pointer;
}

/* visited link */
.linha_cabecalho a:visited {
    color: #666;
    text-decoration: none;
    cursor: pointer;
}

/* mouse over link */
.linha_cabecalho a:hover {
    color: #222;
    text-decoration: none;
    cursor: pointer;
}

/* selected link */
.linha_cabecalho a:active {
    color: #111;
    text-decoration: none;
    cursor: pointer;
}


.no-gutter > [class*='col-'] {
    padding-right:3px;
    padding-left:3px;
}

.caret_one, .caret_two{
color:#ccc;
}

.caret_one:hover, .caret_two:hover{
color:blue;
}

.wrong{
	border: 1px solid #CE5454;
	box-shadow: 1px 1px 5px #CE5454;
}

.clean{
	border: 0px;
}

.field.bad .alert {
  top: 0px;
  left: 0;
  opacity: 1;
}
.field .alert {
  padding: 2px;
  text-align: right;
  color: #CE5454;
  font-size: 80%;
  width: 100%;
  position: relative;
  opacity: 0;
  z-index: 1;
  transition: .15s ease-out;
}

.responsive-text{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

table th{
		font-size: 12px;
		font-weight: bold;
		background: #FFF; /*#9FB8FB; #EEEEEF; #85A3CC #EEE #8FB5EC; *#6FB2BE; #009ACD;*/
		color: #666;
	}

#table_contratos td{
	height: 26px;
}
</style>
{% endblock %}
{% block conteudo %}
<div id="controle_angular" ng-app="app" ng-cloak ng-controller="MeuController" ng-init="contratos_carregados=false">


	<div class="row" style="margin-top: -55px;">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<div class="box box-default" >
				<div class="box-heading">
					<div class="box-header with-border">
						<h5 class="box-title">Contratos</h5>
						<div class="pull-right">
							<div class="btn-group" role="group" aria-label="...">
								<a href="#" id='bt_adicionar' role="button" class="btn btn-sm btn-primary" ng-class="{true:'desabilitado', false:''}[registro_selecionado==null]"  data-toggle="modal" data-target="#modal_adicionar_contrato" ng-click="open_contract();">Contrato</a>
								<a href="#" id='bt_servicos' role="button" class="btn btn-sm btn-default" ng-class="{true:'desabilitado', false:''}[registro_selecionado==null]"  data-toggle="modal" data-target="#modal_servicos" ng-click="carregar_servicos_contratados();" style='margin-left: 5px;'>Serviços</a>
								<!--<a href="#" role="button" id="bt_consultar_cliente" class="btn btn-sm btn-default pull-left desabilitado" style='margin-left: 5px;'><i class="fa fa-pencil-square-o fa-1x"></i> Editar</a>-->
								<a href="#" id='bt_indicacoes' role="button" ng-disabled='registro_selecionado.contrato.ativo==false' class="btn btn-sm btn-default pull-left" ng-class="{true:'desabilitado', false:''}[registro_selecionado==null]" data-toggle="modal" data-target="#modal_indicacoes" ng-click="carregar_indicacao()" style='margin-left: 5px;'> Indicações</a>

								<div class="btn-group" role="group" style='margin-left: 5px;'>
									<button type="button" id='bt_outras_acoes' class="btn btn-sm btn-default dropdown-toggle" ng-disabled="registro_selecionado==null" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span>
									</button>
									<ul class="dropdown-menu dropdown-menu-right">
										<style>
											.disabled { cursor: not-allowed; opacity: 0.5; }
										</style>
										<!--<li role="separator" class="divider"></li>-->
										<li><a role='button' ng-disabled='registro_selecionado.contrato.ativo==false' ng-class="{disabled: registro_selecionado.contrato.ativo==false}" ng-click="close_contract();">Encerrar Contrato</a></li>
										<!--<li><a href="#modal_justificativa" id="bt_desativar_cliente" data-toggle="modal"><i class="fa fa-trash-o"></i> Desativar</a></li>-->
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="box-body" style="padding-bottom: -10px; margin-top: 0px;">
					<div class="dataTable_wrapper">
						<div class='row'>
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								{% verbatim %}
								<table class="table table-condensed  table-striped table-bordered table-hover" id="table_contratos" style="width: 100%;">
									<thead>
										<tr class="linha_cabecalho">
											<th class='center' style="width: 40px;" ng-click="sortType = 'id'; sortReverse = !sortReverse"></th>

											<th class='center' ng-click="sortType = 'cliente'; sortReverse = !sortReverse">Cliente</th>

											<th class="center" ng-hide='screen0 || screen1' ng-click="sortType = 'plano'; sortReverse = !sortReverse">Plano</th>

											<th class='center' ng-hide='screen0 || screen1 || screen2 || screen3' ng-click="sortType = 'inicio'; sortReverse = !sortReverse">Início</th>

											<th class='center' ng-hide='screen0 || screen1 || screen2 || screen3' ng-click="sortType = 'termino'; sortReverse = !sortReverse">Término</th>

											<th class='center' ng-hide='screen0 || screen1 || screen2 || screen3' ng-click="sortType = 'valor_honorario'; sortReverse = !sortReverse">Honorário (R$)</th>

											<th class='center' ng-hide='screen0 || screen1 || screen2 || screen3' ng-click="sortType = 'descontos'; sortReverse = !sortReverse">Desc (%)</th>

											<th class='center' ng-hide='screen0 || screen1 || screen2' ng-click="sortType = 'total'; sortReverse = !sortReverse" >Total (R$)</th>

											<th class='center' ng-hide='screen0 || screen1 || screen2' ng-click="sortType = 'ultima_alteracao'; sortReverse = !sortReverse" >Ult. Alteração</th>

											<th class='center' ng-hide='screen0 || screen1 || screen2' ng-click="sortType = 'ativo'; sortReverse = !sortReverse" >Ativo</th>
										</tr>
									</thead>

									<tbody style="font-size: 11px;">
										<tr ng-if="(contratos|filter:filterIds()).length == 0">
											<td colspan="10" class="center">Nenhum Cliente Cadastrado!</td>
										</tr>

										<tr ng-if="contratos_carregados == false">
											<td colspan="10" style='height: 260px; background: #FFFAFA; opacity: 0.5;vertical-align: middle;' class="text-center">
												Aguarde.. Carregando...<br><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
											</td>
										</tr>

										<tr ng-if='contratos_carregados' class="angular-repeat linha_selecionavel {{ contrato.selecionado }}" ng-click="selecionar_linha(contrato)" pagination-id="paginate_contratos" dir-paginate="contrato in contratos | filter: get_filter_column() | itemsPerPage:10 | orderBy:sortType:sortReverse as resultado">
											<!--<tr ng-repeat='contrato in contratos' class="linha_selecionavel {{ contrato.selecionado }}" ng-click="selecionar_linha(contrato)" pagination-id="paginate_contratos">-->

											<td class='center' style="width: 30px;">{{ contrato.cliente_id }}</td> <!-- {{ $index+1 }} -->
											<td class="col-cliente" class="left">
												{{ contrato.cliente_nome }}
												<!--<div class="responsive-text"  style="max-width: {{ col_cliente_size }}px">{{ contrato.cliente_nome }}</div> isso faz cortar as palavras mas temos um problema com alinhamento que nao fica perfeito dependendo de como a largura foi carregada inicialmente -->
											</td>

											<td ng-hide='screen0 || screen1' ng-class="{true:'left', false:'center'}[contrato.plano=='']">
												<span ng-if="contrato.contrato!=null">{{ contrato.contrato.plano__nome }}</span>
												<span ng-if="contrato.contrato==null"></span>
											</td>

											<td ng-hide='screen0 || screen1 || screen2 || screen3' ng-class="{true:'left', false:'center'}[contrato.contrato.vigencia_inicio=='']" style="width: 80px;">
												<span ng-if="contrato.contrato.vigencia_inicio">{{ contrato.contrato.vigencia_inicio| date: 'dd/MM/yyyy' }}</span>
												<span ng-if="contrato.contrato==null"></span>
											</td>

											<td ng-hide='screen0 || screen1 || screen2 || screen3' ng-class="{true:'left', false:'center'}[contrato.contrato.vigencia_fim=='']" style="width: 80px;">
												<span ng-if="contrato.contrato.vigencia_fim">{{ contrato.contrato.vigencia_fim | date: 'dd/MM/yyyy' }}</span>
												<span ng-if="contrato.contrato==null"></span>
											</td>

											<td ng-hide='screen0 || screen1 || screen2 || screen3' ng-class="{'right': contrato.contrato.valor_honorario, 'center': !contrato.plano  }" style="width: 100px;">
												<span ng-if="contrato.contrato.valor_honorario">{{ contrato.contrato.valor_honorario | currency:"" }}</span>
												<span ng-if="contrato.contrato==null"></span>
											</td>

											<td ng-hide='screen0 || screen1 || screen2 || screen3' class="center" style="width: 80px;">
												<span ng-if="contrato.contrato!=null" title="Desconto Temporário: {{ contrato.contrato.desconto_temporario_ativo }}% disponivel de {{ contrato.contrato.desconto_temporario }}% concedido e Desconto Fidelidade: {{ contrato.contrato.desconto_indicacoes }}%">
													{{ contrato.contrato.desconto_temporario_ativo -- contrato.contrato.desconto_indicacoes }}</span>
												<span ng-if="contrato.contrato==null"></span>
											</td>

											<td ng-hide='screen0 || screen1 || screen2' class="text-right" style="width: 100px;">
												<span ng-if="contrato.contrato!=null">{{ contrato.contrato.valor_total | currency:"" }}</span>
												<span ng-if="contrato.contrato==null"></span>
											</td>

											<td ng-hide='screen0 || screen1 || screen2 || screen3' class="center" style="width: 90px;" >
												<span ng-if="contrato.contrato!=null" title="Atualizado {{ contrato.contrato.ultima_alteracao| date: 'dd/MM/yyyy' }} às {{ contrato.contrato.ultima_alteracao| date: 'HH:mm:ss' }}">
													{{ contrato.contrato.ultima_alteracao| date: 'dd/MM/yyyy' }}
												</span>
												<span ng-if="contrato.contrato==null"></span>
											</td>

											<td ng-hide='screen0 || screen1 || screen2 || screen3' class="center" style="width: 90px;" >
												<span ng-if="contrato.contrato!=null">
													<span ng-if="contrato.contrato.ativo ==false" style="color: #cccccc; font-weight: bold;"><i class="fa fa-check" aria-hidden="true"></i>
</span>
													<span ng-if="contrato.contrato.ativo==true" style="color: #006600; font-weight: bold;"><i class="fa fa-check" aria-hidden="true"></i>
</span>
												</span>
												<span ng-if="contrato.contrato==null"></span>
											</td>
										</tr>

										<tr ng-if='contratos_carregados' ng-repeat="k in minimal_quantity_rows.slice(contratos.length,minimal_quantity_rows.length)">
											<td style="width:30px;"></td>
											<td></td>
											<td style="width:120px;"></td>
											<td class='center' style="width: 80px;"></td>
											<td class='center' style="width: 80px;"></td>
											<td class='right' style="width: 130px;"></td>
											<td class='center' style="width: 80px;"></td>
											<td class='right' style="width: 130px;"></td>
											<td class='center' style="width: 90px;"></td>
											<td class='center' style="width: 90px;"></td>
										</tr>

										<tr ng-if="resultado.length === 0 && (contratos|filter:filterIds()).length > 0">
											<td colspan="3" class='center'>Nenhum resultado Encontrado</td>
										</tr>
									</tbody>
									</table>
								{% endverbatim %}
							</div>
						</div>
					</div>

					<div class='row no-gutter' style="padding: 0px 10px 0px 10px;">
						{% verbatim %}
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style='margin-top:6px;'>
							<label id="label_buscar_por" class='left {{ desabilitar }}'><sub>Buscar por:</sub></label>
							<select id='buscar_por' class='form-control {{ desabilitar }}' ng-model="filter_by" ng-change="select_filter_by()">
								<option value="0">Código</option>
								<option value="1" selected>Cliente</option>
								<option value="2">Plano</option>
							</select>
						</div>

						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style='margin-top: 31px;'>
							<input type="text" id="search" ng-model='search' class="form-control {{ desabilitar }}" placeholder="Consultar..">
						</div>

						<div class="col-lg-offset-2 col-lg-4 col-md-6 col-sm-4 col-xs-12 mt-xs-0 pull-right" ng-if="contratos_carregados == true" >
							<span class="pull-right" style="height: 64px;padding-top: 10px;"><!-- style="margin-top:-54px;margin-bottom: -30px;margin-right: 0px;">-->
								<dir-pagination-controls pagination-id="paginate_contratos" max-size="5" auto-hide="false" boundary-links="true" direction-links="true">

								</dir-pagination-controls>
							</span>
						</div>
						{% endverbatim %}
					</div>
				</div>
			</div>
			<!-- /.panel -->
		</div>
		<!-- /.row -->
	</div>

	<div id="modal_adicionar_contrato" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
		<div class="modal-dialog" style="width: 70%">

			<form id="form_adicionar_contrato" method="post" novalidate autocomplete="off" ng-submit="esta_adicionando? adicionar_contrato() : alterar_contrato()">
				{% csrf_token %}
				<div class="modal-content">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h5 id="titulo_modal_adicionar_contrato" style="font-weight: bold">Definir Contrato</h5>
					</div>

					<div class="modal-body" style="padding: 35px;padding-top: 10px;">

						<div class="row no-gutter fluid">
							<div class="col-md-3 col-xs-12 col-sm-12">
								<div class="form-group field" id="field_tipo_cliente">
									<sub><label>{{ formulario_contrato.tipo_cliente.label }}</label></sub>
										<div id="select_tipo_cliente" style="border-radius: 4px;">
											{{ formulario_contrato.tipo_cliente }}
										</div>
								</div>
							</div>

							<div class="col-md-3 col-xs-12 col-sm-12">
								<div class="form-group field" id="field_plano">
									<sub><label>{{ formulario_contrato.plano.label }}</label></sub>
										<div id="select_plano" style="border-radius: 4px;">
											{{ formulario_contrato.plano }}
										</div>
								</div>
							</div>
						</div>

						<hr>

						<div class="row no-gutter fluid">
							<div class="col-md-2 col-xs-12 col-sm-6">
								<div class="form-group field" id="field_vigencia_inicio">
									<sub><label>{{ formulario_contrato.vigencia_inicio.label }}</label></sub>
									{{ formulario_contrato.vigencia_inicio }}
								</div>
							</div>

							<div class="col-md-2 col-xs-12 col-sm-6">
								<div class="form-group field" id="field_vigencia_fim">
									<sub><label>{{ formulario_contrato.vigencia_fim.label }}</label></sub>
									{{ formulario_contrato.vigencia_fim }}
									<!--<input id="check_tipo_vencimento" data-toggle="toggle" data-width="120" data-on="Variável" data-off="Fixo" type="checkbox">-->
								</div>
							</div>

							<div class="col-md-2 col-xs-12 col-sm-4">
								<div class="form-group field" id="field_tipo_vencimento">
									<sub><label>{{ formulario_contrato.tipo_vencimento.label }}</label></sub>
									<div id="select_tipo_vencimento" style="border-radius: 4px;">
										{{ formulario_contrato.tipo_vencimento }}
									</div>
								</div>
							</div>

							<div class="col-md-2 col-xs-12 col-sm-4">
								<div class="form-group field" id="field_dia_vencimento">
									<sub><label>{{ formulario_contrato.dia_vencimento.label }}</label></sub>
									<div id="select_dia_vencimento" style="border-radius: 4px;">
										{{ formulario_contrato.dia_vencimento }}
									</div>
								</div>
							</div>

							<div class="col-md-2 col-xs-12 col-sm-4">
								<div class="form-group field" id="field_data_venvimento">
									<sub><label>{{ formulario_contrato.data_vencimento.label }}</label></sub>
									{{ formulario_contrato.data_vencimento }}
								</div>
							</div>

							<div class="col-md-2 col-xs-12 col-sm-12">
								<div class="form-group field" id="field_tipo_honorario">
									<sub><label>{{ formulario_contrato.tipo_honorario.label }}</label></sub>
									<div id="select_tipo_honorario" style="border-radius: 4px;">
										{{ formulario_contrato.tipo_honorario }}
									</div>
								</div>
							</div>
						</div>

						<div class="row no-gutter">
							<div class="col-md-2 col-xs-12">
								<div class="form-group field" id="field_taxa_honorario">
									<sub><label>{{ formulario_contrato.taxa_honorario.label }}</label></sub>
									{{ formulario_contrato.taxa_honorario }}
								</div>
							</div>

							<div class="col-md-2 col-xs-12 col-sm-4">
								<div class="form-group field" id="field_valor_honorario">
									<sub><label>{{ formulario_contrato.valor_honorario.label }}</label></sub>
									{{ formulario_contrato.valor_honorario }}
								</div>
							</div>

							<div class="col-md-2 col-xs-12 col-sm-6">
								<div class="form-group field" id="field_desconto_inicio">
									<sub><label>{{ formulario_contrato.desconto_inicio.label }}</label></sub>
									{{ formulario_contrato.desconto_inicio }}
									<!--<input id="check_tipo_vencimento" data-toggle="toggle" data-width="120" data-on="Variável" data-off="Fixo" type="checkbox">-->
								</div>
							</div>

							<div class="col-md-2 col-xs-12 col-sm-6">
								<div class="form-group field" id="field_desconto_fim">
									<sub><label>{{ formulario_contrato.desconto_fim.label }}</label></sub>
									{{ formulario_contrato.desconto_fim }}
								</div>
							</div>

							<div class="col-md-2 col-xs-12 col-sm-6">
								<div class="form-group field" id="field_desconto_temporario">
									<sub><label>{{ formulario_contrato.desconto_temporario.label }}</label></sub>
									{{ formulario_contrato.desconto_temporario }}
								</div>
							</div>

							<div class="col-md-2 col-xs-12 col-sm-6">
								<style>
									#total[type="text"]:disabled{background-color: #fff;border: hidden; text-align: right;border-bottom: 1px solid #cccccc; border-top: 0px;box-shadow:0 0px 0px #fff}
								</style>
								<div class="form-group field" id="field_valor_total">
									<sub><label>{{ formulario_contrato.valor_total.label }}</label></sub>
									{{ formulario_contrato.valor_total }}
								</div>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<div class="row">
							<div class="col-md-2 col-md-push-10">
								<button type="submit" id="bt_submit_contrato" class="btn btn-sm btn-primary form-control" data-toggle="modal" data-target="">Salvar</button>
								<!-- <a href="#modal_adicionar_documento" role="button"            ng-class="{'desabilitado': modal_servico == ''}"                            class="btn btn-primary form-control" data-toggle="modal" '  > Adicionar</a>  -->
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div id="modal_indicacoes" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
		<div class="modal-dialog" style="width: 90%">
			{% csrf_token %}
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h5 id="titulo_modal_indicacoes" style="font-weight: bold">Indicações</h5>
				</div>

				<div class="modal-body" style="padding: 15px;padding-top: 10px;">
					<form ng-submit="esta_indicando? alterar_indicacao() : adicionar_indicacao()">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" ng-class="{desabilitado: ( indicacao_selecionada != null), nonselect: (indicacao_selecionada != null)}"> <!--ng-class="'esta_indicando' ? 'desabilitado nonselect' " -->
								<sub><label>{{ formulario_indicacao.indicacao.label }}</label></sub>
									{{ formulario_indicacao.indicacao }}
							</div>

							<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12" style="padding-left: 5px; padding-bottom: 5px;">
								<sub><label>{{ formulario_indicacao.taxa_desconto_indicacao.label }}</label></sub>
								{{ formulario_indicacao.taxa_desconto_indicacao }}
							</div>
							{% verbatim %}

							<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" style="padding-left: 5px; padding-top: 15px;">
								<div class="form-group field">
									<button type="submit" id="bt_adicionar_indicacao" class="btn btn-sm btn-primary " data-toggle="modal" style="width: 100px;">
										<span ng-if="indicacao_selecionada != null">Salvar</span>
										<span ng-if="indicacao_selecionada == null">Adicionar</span>
									</button>
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-2 col-xs-12 pull-right" style="padding-left: 5px; padding-top: 15px;">
								<div class="form-group field pull-right">
									<button type="button" id="bt_desativar_indicacao" ng-hide="indicacao_selecionada == null" ng-disabled="indicacao_selecionada == null" class="btn btn-sm btn-default" ng-click="ativar_desativar_indicacao(indicacao_selecionada, $event)" style="width: 100px;">
										<span ng-if="indicacao_selecionada.indicacao_ativa == true">Desativar</span>
										<span ng-if="indicacao_selecionada.indicacao_ativa == false">Ativar</span>
									</button>
									<button type="button" ng-click="deletar_indicacao(indicacao_selecionada, $event)" ng-hide="indicacao_selecionada == null" ng-disabled="indicacao_selecionada == null" class="btn btn-sm btn-danger" data-toggle="modal"> Apagar</button>
								</div>
							</div>

							<!---<span href="#" ng-if="indicacao_selecionada == null">
								<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"  style="padding-top: 20px;padding-bottom: 15px;">

								</div>
							</span>

							<span href="#" ng-if="indicacao_selecionada != null">
								<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"  style="text-align: right; padding-top: 20px;padding-bottom: 15px;">

									<button type="submit" id="bt_adicionar_indicacao" class="btn btn-sm btn-primary" data-toggle="modal"><i class="fa fa-check-square-o" aria-hidden="true"></i> Salvar</button>
								</div>
							</span>-->
							{% endverbatim %}
							</div>
					</form>

					<br>

					<div class="row" style="margin-top: -15px;margin-left: 0px;margin-right: 0px;padding-right: 0px;padding-bottom: 0px;margin-bottom: 0px;border-top: 0px;">
						<div class="dataTable_wrapper" style="margin-left: 0px;margin-right:0px;margin-bottom:0px;padding-bottom: 0px;">
							<div class='row'>
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<table class="table table-condensed  table-striped table-bordered table-hover" id="datatable">
										<thead>
											<tr class="linha_cabecalho">

												<th class='center'>Empresa Indicada</th>

												<th class="center">Data do Cadastro</th>

												<th class="center">Ultima Alteração</th>

												<th class='center'>Taxa Desconto</th>

												<th class='center'>Ativo</th>
											</tr>
										</thead>

										<style>
											#datatable td{
												padding: 0px;
												padding-top: 4px;
												height: 26px;
											}
										</style>

										<tbody>
											{% verbatim %}
												<tr ng-if="indicacoes_carregadas == false">
													<td colspan="9" style='height: 260px; background: #FFFAFA; opacity: 0.5;vertical-align: middle;' class="text-center">
														Aguarde.. Carregando...<br><i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
													</td>
												</tr>

												<tr ng-if="indicacoes_carregadas == true" class="angular-repeat linha_selecionavel {{ registro.selected }}" ng-repeat='registro in registro_selecionado.indicacoes' ng-click="selecionar_linha_indicacao(registro)">
													<td class="left"	style="padding-left: 10px;">{{ registro.indication_name }}</td>
													<td class="center" style="width: 180px">{{ registro.data_cadastro | date:'dd/MM/yyyy' }} às {{ registro.data_cadastro | date:'HH:mm:ss' }}</td>
													<td class="center" style="width: 180px">{{ registro.ultima_alteracao | date:'dd/MM/yyyy' }} às {{ registro.ultima_alteracao | date:'HH:mm:ss' }}</td>
													<td class="center" style="width: 70px;">{{ registro.taxa_desconto| currency:"" }}</td>
													<td class="center" style="width: 30px; padding-left: 0px; padding-top: 2px;">
														<span ng-if="registro.indicacao_ativa==0" style="color: #cccccc; font-weight: bold;"><i class="fa fa-check" aria-hidden="true"></i>
</span>
														<span ng-if="registro.indicacao_ativa!=0" style="color: #006600; font-weight: bold;"><i class="fa fa-check" aria-hidden="true"></i>
</span>
													</td>
												</tr>

												<tr ng-if="indicacoes_carregadas == true" ng-repeat="k in minimal_quantity_rows.slice(registro_selecionado.indicacoes.length,minimal_quantity_rows.length)">
													<td></td>
													<td class='center' style="width:180px;"></td>
													<td class='center' style="width:180px;"></td>
													<td class='center' style="width:120px;"></td>
													<td class='center' style="width:80px;"></td>
												</tr>

												<tr ng-if="indicacoes_carregadas == true" style="border-top: 2px solid #DDD;">
													<th colspan="2" style="padding-left: 8px;">Descontos Adiquirdo <span style="vertical-align: middle;padding-left: 8px; font-weight: bold; padding-top: 0px;color: #8B1A1A; font-size:10px;">(Desconto Máximo Aplicável 30%)</span></th>
													<th colspan="3" class="text-center">{{ total_desconto_fidelidade }}%
													<span class="pull-right" style='font-weight: normal;' ng-if="total_credito_desconto_fidelidade > 0"> (+{{ total_credito_desconto_fidelidade }}% de crédito)</span>
													</th>
												</tr>
											{% endverbatim %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="modal-footer" style="height: 25px;margin-top: -15px;">
				</div>
			</div>
		</div>
	</div>

	<div id="modal_servicos" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
		<div class="modal-dialog" style="width: 40%">
			{% csrf_token %}
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h5 id="titulo_modal_servicos" style="font-weight: bold; margin-top: 3px;">Plano {% verbatim %}{{ registro_selecionado.plano }}{% endverbatim %}</h5>
				</div>

				<div class="modal-body" style="padding: 15px;padding-top: 10px;padding-bottom: 0px;">
					<div class="row" style="margin-top: 5px;margin-left: 0px;margin-right: 0px;padding-right: 0px;padding-bottom: 0px;margin-bottom: 0px;border-top: 0px;">
						<div class="dataTable_wrapper" style="margin-left: 0px;margin-right:0px;margin-bottom:0px;padding-bottom: 0px;">
							<div class='row'>
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<table class="table table-condensed  table-striped table-bordered table-hover" id="datatable_servicos">
										<thead>
											<tr class="linha_cabecalho">
												<!--<th class='center' style="width: 40px;" ng-click="sortType = 'id'; sortReverse = !sortReverse"></th>-->
												<th class='center'>Serviço Aplicáveis</th>
												<th class='center'>Ativo</th>
											</tr>
										</thead>

										<style>
											#datatable_servicos td{
												padding: 0px;
												padding-top: 4px;
											}
										</style>

										<tbody>
											{% verbatim %}
												<tr class="angular-repeat linha_selecionavel" ng-repeat='registro in servicos_contratados'>
													<!--<td class='center' style="width: 30px;">{{ $index+1 }}</td>-->
													<td class="left"	style="padding-left: 10px;" title="{{ registro.descricao }}">{{ registro.nome }}</td>
													<td class="center" style="width: 30px; padding-left: 15px; padding-top: 4px">
														<style>
															.switch {
																position: relative;
																display: table;
																width: 50px;
																height: 20px;
															}

															.switch input {display:none;}

															.slider {
																position: absolute;
																cursor: pointer;
																top: 0;
																left: 0;
																right: 0;
																bottom: 0;
																background-color: #47FF7F;
																-webkit-transition: 1s;
																transition: 1s;
															}

															.slider:before {
																position: absolute;
																content: "";
																height: 15px;
																width: 15px;
																left: 4px;
																bottom: 3px;
																background-color: #c4bbcc;
																-webkit-transition: 1s;
																transition: .40s;
															}

															input:checked + .slider {
																background-color: #FA4226;
															}

															input:focus + .slider {
																box-shadow: 0 0 1px #2196F3;
															}

															input:checked + .slider:before {
																-webkit-transform: translateX(26px);
																-ms-transform: translateX(26px);
																transform: translateX(26px);
															}

															/* Rounded sliders */
															.slider.round {
																border-radius: 20px;
															}

															.slider.round:before {
																border-radius: 50%;
															}
														</style>
														<label class="switch" style="padding-bottom: 20px">

															<input type="checkbox" ng-checked='registro.ativo != true' ng-click="ativar_desativar_servico(registro)" >

															<span class="slider round" ></span>
														</label>
													</td>
												</tr>

												<tr ng-repeat="k in minimal_quantity_rows.slice(servicos_contratados.length,minimal_quantity_rows.length)">
													<td class='center' style="height: 26px;"></td>
													<td class='center' style="width: 80px;"></td>
												</tr>
											{% endverbatim %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="modal-footer" style="padding-rigth: 5px;padding-top: 15px;padding-bottom: 0px;">
					<!--<div class="row">
						<div class="col-md-3 col-md-push-9">
							<button type="submit" id="bt_submit_servicos" class="btn btn-sm btn-primary form-control" data-toggle="modal" data-target="modal_servicos" ng-click="atualizar_servicos_contratados();">Salvar</button>

						</div>
					</div>-->
				</div>
			</div>
		</div>
	</div>

</div>
<br>
{% endblock %}

{% block recursos_complementares %}
{% load staticfiles %}
{% load compress %}
{% compress js %}
<script src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'bower_components/jquery.maskedinput/dist/jquery.maskedinput.min.js' %}"></script>
<script src="{% static 'modules/core/controle_componentes.js' %}"></script>
<script src="{% static 'modules/honorary/contract/js/contractController.js' %}"></script>
<script src="{% static 'modules/honorary/contract/js/contract.js' %}"></script>
{% endcompress %}

<script>
	$(document).ready(function() {
		$("#divCarregando").show();
		$(window).load(function () {
				// Quando a página estiver totalmente carregada, remove o id
				$('#divCarregando').fadeOut('slow');
		});

		angular.element(document.getElementById('controle_angular')).scope().carregar_clientes();
		angular.element(document.getElementById('controle_angular')).scope().get_salario_vigente();
		configurar_formulario_padrao()
		NProgress.done();
	});

	window.onresize = function(event) {
    angular.element(document.getElementById('controle_angular')).scope().reajustar_tela();
	};
</script>
{% endblock %}