{% extends 'base_page.html' %}
{% block Titulo %}<title>Digitar - Cadastro Usuários</title>{% endblock %}
{% load staticfiles %}
{% block recursos_necessarios %}

<style>
	a.disabled {
		background-color: gray;
		border-color: transparent;
		color : #FAEDEC;
		cursor: no-drop; !important;
		pointer-events: none !important;

	}

	a.disabled:hover {
		border-color: #8c8c8c !important;
		color : #8c8c8c !important;
}

	ul {
		cursor: pointer;
	}

	ul .disabled {
		cursor: no-drop; !important;
		background-color: transparent;
		border-color: transparent;: ;
		color : #FAEDEC;
	}

	table td{
		height: 26px;
		padding: 0px !important;
		padding-top: 7px !important;
		padding-left: 4px !important;
		padding-right: 4px !important;
	}

	table th{
		font-size: 12px;
		font-weight: bold;
		background: #FFF;/*#9FB8FB; #EEEEEF; #85A3CC #EEE #8FB5EC; *#6FB2BE; #009ACD;*/
		color: #666;
	}

	.linha_cabecalho th{
	cursor: pointer;
	}
	/* unvisited link */
	.linha_cabecalho a {
    color: #666;
    text-decoration: none;
    cursor: pointer;
	}
	/* visited link */
	.linha_cabecalho a:visited {
			color: #666;
			text-decoration: none;
			cursor: pointer;
	}
	/* mouse over link */
	.linha_cabecalho a:hover {
			color: #222;
			text-decoration: none;
			cursor: pointer;
	}
	/* selected link */
	.linha_cabecalho a:active {
    color: #111;
    text-decoration: none;
    cursor: pointer;
	}
</style>

{% endblock %}
{% block conteudo %}
<div id="controle_angular_cadastro_user" ng-controller="Cadastro_usuario" ng-init="usuarios_carregados=false;">
	<div class="row" style="margin-top: -45px;">
		<div class="col-lg-12 col-md-12 col-xs-12">
			<div class="box box-default" >
				<div class="box-heading">
					<div class="box-header with-border">
						<h5 class="box-title">Cadastro de Usuários</h5>
						<div class="pull-right">
							<div class="btn-group" role="group" aria-label="...">
								<a id='bt_adicionar' role="button" class="btn btn-sm btn-primary " ng-class="{'disabled':registro_selecionado!=null}" data-toggle="modal" data-target="#modal_adicionar_usuario" ng-click="open_modal_add()" ng-disabled="registro_selecionado!=null">Adicionar</a>
								<a id='bt_servicos' role="button" class="btn btn-sm btn-primary"  ng-class="{'disabled':registro_selecionado==null}" ng-disabled="registro_selecionado==null"  data-toggle="modal" data-target="#modal_alterar_usuario" ng-click="esta_adicionando=false;open_object_user();" style='margin-left: 5px;'>Editar</a>
								<div class="btn-group" role="group" style='margin-left: 5px;'>
									<button type="button" id='bt_outras_acoes' class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
									<ul class="dropdown-menu dropdown-menu-right">
										<!--<li><a class="" id='bt_apagar_senha' ng-class="{'disabled':registro_selecionado==null}" data-toggle="modal" data-target="#modal_reset_password">Alterar senha</a></li>-->
										<li><a class="" id='bt_ative'  ng-class="{'disabled':registro_selecionado==null || registro_selecionado.is_active==true}" data-toggle="modal" data-target="#modal_justify_action" ng-click="confirm_active();">Reativar</a></li>
										<li role="separator" class="divider"></li>
										<li><a class="" href="#modal_justificativa" id='bt_disable' ng-class="{'disabled':registro_selecionado==null || registro_selecionado.is_active==false}" data-toggle="modal" data-target="#modal_justify_action" ng-click="confirm_disable()" >Desativar</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			<div class="box-body" style="margin-bottom: -10px;margin-top: 0px;">
				<div class="dataTable_wrapper">
					<div class='row'>
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							{% verbatim %}
							<table class="table table-condensed  table-striped table-bordered table-hover" id="table_usuarios" style="width: 100%;">
								<thead>
								<!--MIN ROWS: >{{ table_minimun_items }}<  -  > SEARCH: {{ search }}
								ITENS PAGINATE: {{ table_maximun_items_per_page }}
								---- {{ usuarios.length }}-->
								<tr class="linha_cabecalho">
									<th class='text-center' style="width: 10px;"  ng-click="sortType='id';sortReverse=!sortReverse">N°</th>
									<th class='text-center' style="width: 180px;" ng-click="sortType='first_name';sortReverse=!sortReverse">Nome Completo</th>
									<th class='text-center' style="width: 180px;" ng-click="sortType='email';sortReverse=!sortReverse">Email</th>
									<th class='text-center' style="width: 180px;" ng-click="sortType='username';sortReverse=!sortReverse">Nome de Usuário</th>
									<th class='text-center' style="width: 100px;" ng-click="sortType='groups';sortReverse=!sortReverse">Cargo</th>
									<th class='text-center' style="width: 90px;" ng-click="sortType='date_joined';sortReverse=!sortReverse">Cadastrado em</th>
									<th class='text-center' style="width: 90px;" ng-click="sortType='date_joined';sortReverse=!sortReverse">Último Acesso</th>
									<th class='text-center' style="width: 5px;"  ng-click="sortType='is_active';sortReverse=!sortReverse">Status</th>
								</tr>
								</thead>

								<tbody style="font-size: 11px;"><!-- /height:{{ table_maximun_body_heigth }}px; /-->
								<tr id="divCarregando" ng-if="usuarios_carregados == false" style="height: 10px">
									<td colspan="8" style='background: #FFFAFA;opacity: 0.5;vertical-align: middle;' class="text-center">
										<i class="fa fa-refresh fa-spin fa-3x fa-fw"></i></br></br>Aguarde.. Carregando...
									</td>
								</tr>

								<tr ng-cloak ng-if='usuarios_carregados' class="angular-repeat linha_selecionavel {{ usuario.selecionado }}" ng-click="selecionar_linha(usuario);" pagination-id="paginate_usuarios" dir-paginate="usuario in usuarios | filter: get_filter_column() | itemsPerPage:table_maximun_items_per_page | orderBy:sortType:sortReverse as resultado">
									<td class='text-center' style="width: 10px;">{{ usuario.id }}</td>
									<td class='text-left' style="width: 180px;">{{ usuario.get_full_name | uppercase }}</td>
									<td class='text-left' style="width: 180px;">{{ usuario.email }}</td>
									<td class="col-cliente text-left"  style="width: 150px;">{{ usuario.username  | lowercase }}</td>
									<td class='text-left' style="width: 100px;">
										<span ng-if="usuario.groups[0]==1">ADMINISTRADOR</span>
										<span ng-if="usuario.groups[0]==2">GERENTE GERAL</span>
										<span ng-if="usuario.groups[0]==3">COORDENADOR(A)</span>
										<span ng-if="usuario.groups[0]==4">ANALISTA</span>
										<span ng-if="usuario.groups[0]==5">AUXILIAR</span>
										<span ng-if="usuario.groups[0]==6">ASSISTENTE</span>
										<span ng-if="usuario.groups[0]==7">MOTOBOY</span>
									</td>
									<td class="text-center" style="width: 90px;">{{ usuario.date_joined|date:'d/M/y'}} ás {{ usuario.date_joined|date:'H:mm'}}</td>
									<td class="text-center" style="width: 90px;">
										<span ng-if="usuario.last_login!=none">{{ usuario.last_login|date:'d/M/y'}} ás {{ usuario.last_login|date:'H:mm'}}</span>
										<span ng-if="usuario.last_login==none">Sem Acesso</span>
									</td>
									<td class="text-center"  style="width: 5px;">
										<span ng-if="usuario.is_active==false" title="Inativo"><i class="fa fa-close" style="color: darkgray" aria-hidden="true"></i></span>
										<span ng-if="usuario.is_active==true" title="Ativo"><i class="fa fa-check" style="color: green" aria-hidden="true"></i></span>
									</td>
								</tr>

								<tr ng-if='usuarios_carregados'  ng-repeat="k in table_minimun_items.slice(usuarios.length,table_minimun_items.length)">
									<td class='text-center' style="width:10px;"></td>
									<td style="width:150px;"></td>
									<td style="width:180px;"></td>
									<td style="width: 180px;"></td>
									<td style="width:90px;"></td>
									<td style="width:90px;"></td>
									<td style="width:5px;"></td>
									<td style="width:5px;"></td>
								</tr>

								<tr ng-if="resultado.length == 0">
									<td colspan="7" class='text-center'>Nenhum resultado Encontrado</td>
								</tr>
								</tbody>
							</table>
							{% endverbatim %}
						</div>
					</div>
				</div>
				<div class='row no-gutter' style="padding: 0px 10px 0px 10px;">
					{% verbatim %}
						<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" style='margin-top:6px;'>
							<label id="label_buscar_por" class='left {{ desabilitar }}'><sub>Buscar por:</sub></label>
							<select id='buscar_por' class='form-control {{ desabilitar }}' ng-model="filter_by" ng-change="select_filter_by()">
								<option value="0">Código</option>
								<option value="1">Nome Completo</option>
								<option value="2" selected>Email</option>
								<option value="3" selected>Username</option>
							</select>
						</div>

						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" style='margin-top: 28px;'>
							<input type="text" id="search" ng-model='search' class="form-control {{ desabilitar }}" placeholder="Consultar..">
						</div>

						<div class="col-lg-offset-2 col-lg-4 col-md-6 col-sm-4 col-xs-12 mt-xs-0 pull-right" ng-if="usuarios_carregados == true" >
							<span class="pull-right" style="height: 64px;padding-top: 10px;"><!-- style="margin-top:-54px;margin-bottom: -30px;margin-right: 0px;">-->
								<dir-pagination-controls pagination-id="paginate_usuarios" max-size="5" auto-hide="false" boundary-links="true" direction-links="true">
								</dir-pagination-controls>
							</span>
						</div>
						{% endverbatim %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="modal_adicionar_usuario" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
		<div class="modal-dialog" style="width: 50%">
			<form id="form_adicionar_usuario" novalidate autocomplete="off" ng-submit="save_usuario()" onsubmit="return false;">
				{% csrf_token %}
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h5 id="titulo_modal_adicionar_usuario" class='modal_title' style="font-weight: bold">Adicionar Usuário</h5>
					</div>

					<div class="modal-body" style="padding: 30px;padding-top: 15px;padding-bottom: 5px;">
						<div class="row no-gutter fluid">
							<div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
								<div class="form-group field" id="field_nome">
									<sub><label id="lb_nome" for="nome">{{ formulario_register.first_name.label }}</label></sub>
									{{ formulario_register.first_name }}
								</div>
							</div>

							<div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
								<div class="form-group field" id="field_tipo_valor">
									<sub><label id="lb_tipo_valor" for="tipo_valor">{{ formulario_register.last_name.label }}</label> </sub>
									{{ formulario_register.last_name }}
								</div>
							</div>
						</div>

						<div class="row no-gutter fluid">
							<div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
								<div class="form-group field" id="field_valor">
									<sub><label id="lb_valor" for="valor">{{ formulario_register.email.label }}</label> </sub>
									{{ formulario_register.email }}
								</div>
							</div>

							<div class="col-lg-4 col-md-3 col-sm-12 col-xs-12">
								<div class="form-group field" id="field_tipo_valor">
									<sub><label id="lb_tipo_valor" for="tipo_valor">{{ formulario_register.groups.label }}</label> </sub>
									{{ formulario_register.groups }}
								</div>
							</div>
						</div>

						<div class="row no-gutter fluid">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<div class="form-group field" id="field_tipo">
									<sub><label id="lb_tipo" for="tipo">{{ formulario_register.username.label }}</label> </sub>
									{{ formulario_register.username }}
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<div class="form-group field" id="field_password">
									<sub><label id="lb_password" for="password">{{ formulario_register.password.label }}</label> </sub>
									{{ formulario_register.password }}
								</div>
							</div>

							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<div class="form-group field" id="field_confirm_password">
									<sub><label id="lb_tipo_confirm_password" for="confirm_password">{{ formulario_register.confirm_password.label }}</label> </sub>
									{{ formulario_register.confirm_password }}
								</div>
							</div>
						</div>



					</div>
					<div class="modal-footer">
						<div class="row">
							<div class="col-md-2 col-md-push-10" >
								<button type="submit" id="bt_submit_usuario" class="btn btn-sm btn-primary form-control" data-toggle="modal" data-target="">Salvar</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div id="modal_alterar_usuario" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
		<div class="modal-dialog" style="width: 50%">
			<form id="form_alterar_usuario" novalidate autocomplete="off" ng-submit="update_usuario()" onsubmit="return false;">
				{% csrf_token %}
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h5 id="titulo_modal_adicionar_usuario" class='modal_title' style="font-weight: bold">Alterar Usuário</h5>
					</div>

					<div class="modal-body" style="padding: 30px;padding-top: 15px;padding-bottom: 5px;">
						<div class="row no-gutter fluid">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<div class="form-group field" id="field_user_update">
									<sub><label id="lb_user_update" for="user_update">{{ formulario_update.username.label }}</label> </sub>
									{{ formulario_update.username }}
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<div class="form-group field" id="field_email_update">
									<sub><label id="lb_email_update" for="email_update">{{ formulario_update.email.label }}</label> </sub>
									{{ formulario_update.email }}
								</div>
							</div>
						</div>

						<div class="row no-gutter fluid">
							<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
								<div class="form-group field" id="field_nome_update">
									<sub><label id="lb_nome_update" for="nome_update">{{ formulario_update.first_name.label }}</label></sub>
									{{ formulario_update.first_name }}
								</div>
							</div>

							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<div class="form-group field" id="field_last_name_update">
									<sub><label id="lb_last_name_update" for="last_name_update">{{ formulario_update.last_name.label }}</label> </sub>
									{{ formulario_update.last_name }}
								</div>
							</div>

							<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
								<div class="form-group field" id="field_group_update">
									<sub><label id="lb_tipo_valor" for="tipo_valor">{{ formulario_update.groups.label }}</label> </sub>
									{{ formulario_update.groups }}
								</div>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<div class="row">
							<div class="col-md-2 col-md-push-10" >
								<button type="submit" id="bt_submit_usuario" class="btn btn-sm btn-primary form-control" data-toggle="modal" data-target="">Salvar</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

		<!--
	<div id="modal_reset_password" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
		<div class="modal-dialog" style="width: 20%">
			<form id="form_reset_password" novalidate autocomplete="off" ng-submit="reset_password()" onsubmit="return false;">
				{% csrf_token %}
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h5 id="titulo_modal_adicionar_usuario" class='modal_title' style="font-weight: bold">Alterar Senha</h5>
					</div>

					<div class="modal-body" style="padding: 30px;padding-top: 15px;padding-bottom: 5px;">
						<div class="row no-gutter fluid">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="form-group field" id="field_tipo">
									<sub><label id="lb_tipo" for="tipo">{{ form_reset_password.password.label }}</label> </sub>
									{{ form_reset_password.password }}
								</div>
							</div>
						</div>
						<div class="row no-gutter fluid">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
								<div class="form-group field" id="field_valor">
									<sub><label id="lb_valor" for="valor">{{ form_reset_password.confirm_password.label }}</label> </sub>
									{{ form_reset_password.confirm_password }}
								</div>
							</div>
						</div>
						<div class="modal-footer">
						<div class="row">
							<div class="col-md-5 col-md-push-8" >
								<button type="submit" id="bt_submit_usuario" class="btn btn-sm btn-primary form-control" data-toggle="modal" data-target="">Salvar</button>
							</div>
						</div>
					</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	-->
	<div id="modal_justify_action" class="modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
		<div class="modal-dialog" style="width: 60%">
			<div class="modal-content">
				<form id="form_justify_action" autocomplete="off" ng-submit="disable();">
					<div class="modal-header" style="padding-top:2px;"><!-- style="height: 48px;"> -->
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top:10px;">×</button>
						<h4 ng-show="registro_selecionado.is_active==true" id="myModalLabel">Desativar Usuário</h4>
						<span ng-show="registro_selecionado.is_active==false"><h4>Reativar Registro</h4></span>
					</div>

					<div class="modal-body">
						<style>
							.only_bottom_border{
								background-color: #fff !important;
								border-bottom: 1px solid #ccc !important;
								box-shadow:none !important;
								cursor: default;
							}
						</style>
						<div style="margin-top: 0px;">
							<div class="row">
								<div class="col-lg-12">
									<p ng-show="registro_selecionado.is_active==true" id="action_info" style="padding: 10px; padding-bottom: 4px;">
										Por questões de segurança e integridade das informações esse registro não pode ser excluido definitivamente, apenas
										desativado para que não esteja disponiveis em operações futuras. Justificativa obrigatória para prosseguir.
									</p>
									<p ng-show="registro_selecionado.is_active==false" id="action_info" style="padding: 10px; padding-bottom: 4px;">
										Por questões de segurança e integridade das informações esse registro precisa de uma Justificativa obrigatória para prosseguir.
									</p>
								</div>
							</div>

							<div class="row">
								<div class="col-lg-4 col-md-2">
									<sub style='padding-left: 2px'><label>Operação:</label></sub>
									<input id="action_type" type="text" class="form-control uppercase only_bottom_border" readonly onfocus="this.blur();" />
								</div>


								<div class="col-lg-4 col-md-3">
									<sub style='padding-left: 2px'><label>Usuário:</label></sub>
									<div>{{ request.user.first_name }} {{ request.user.last_name }}</div>
								</div>


								<div class="col-lg-4 col-md-7">
									<sub style='padding-left: 2px'><label>Registro:</label></sub>
									<input id="action_object" type="text" class="form-control uppercase only_bottom_border" readonly onfocus="this.blur();">
								</div>
							</div>

							<div class="row">
								<div class="col-lg-12">
									<div class="form-group field" id="field_action_justify">
										<sub>
											<label>Justificativa:</label>
										</sub>
										<textarea id="action_justify" rows="5" class="form-control uppercase"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<div class="form-group">
							<button type='submit' id="bt_confirmar_desativacao" class="btn btn-danger pull-right">Enviar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block recursos_complementares %}
{% load staticfiles %}
{% load compress %}
{% compress js %}
	<script src="{% static 'modules/user/user_register_controller.js' %}"/>
	<script src="{% static 'modules/user/user_regiter.js' %}"/>
	<script src="{% static 'modules/user/user.js' %}"/>
	<script src="{% static 'modules/core/base_controller.js' %}"/>
	<script src="{% static 'modules/core/controle_componentes.js' %}"/>
{% endcompress %}
{% endblock %}