{% extends 'base_page.html' %}
{% block Titulo %}<title>Digitar - Perfil</title>{% endblock %}
{% load staticfiles %}
{% block recursos_necessarios %}

{% endblock %}
{% block conteudo %}
	<div id="angular_content" ng-cloak ng-app="modules.user">
		<div class="row" style="margin-top: -55px;">
			<div class="col-lg-12 col-md-12 col-xs-12">
				<div class="box box-default" >
					<div class="box-heading">
						<div class="box-header with-border">
							<h5 class="box-title">{{ request.user.get_full_name}}</h5>
							<div class="pull-right">
								<div class="btn-group" role="group" aria-label="...">
									<a id='bt_adicionar' role="button" class="btn btn-sm btn-primary " ng-class="{'disabled':registro_selecionado!=null}" data-toggle="modal" data-target="#modal_adicionar_usuario" ng-disabled="registro_selecionado!=null">Adicionar</a>
									<a id='bt_servicos' role="button" class="btn btn-sm btn-primary"  ng-class="{'disabled':registro_selecionado==null}" ng-disabled="registro_selecionado==null"  data-toggle="modal" data-target="#modal_alterar_usuario" ng-click="esta_adicionando=false;open_object();" style='margin-left: 5px;'>Editar</a>
									<div class="btn-group" role="group" style='margin-left: 5px;'>
										<button type="button" id='bt_outras_acoes' class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
										<ul class="dropdown-menu dropdown-menu-right">
											<li><a class="" id='bt_apagar_senha' ng-class="{'disabled':registro_selecionado==null}" data-toggle="modal" data-target="#modal_reset_password">Alterar senha</a></li>
											<li><a class="" id='bt_ative'  ng-class="{'disabled':registro_selecionado==null || registro_selecionado.is_active==true}" data-toggle="modal" data-target="#modal_justify_action" ng-click="confirm_active();">Reativar</a></li>
											<li role="separator" class="divider"></li>
											<li><a class="" href="#modal_justificativa" id='bt_disable' ng-class="{'disabled':registro_selecionado==null || registro_selecionado.is_active==false}" data-toggle="modal" data-target="#modal_justify_action" ng-click="confirm_disable()" >Desativar</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="box-body" style="margin-bottom: -10px;margin-top: 0px;">
						<div class="col-lg-6 pull-right">
							<button data-toggle="modal" data-target="#modal_alterar_senha" class="btn btn-primary">Alterar senha</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="modal_alterar_senha" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
		<div class="modal-dialog" style="width: 50%">
			<div ng-controller="change_password_controller">
				<form id="form_change_password" autocomplete="off" ng-submit="save_password()" novalidate>
					{% csrf_token %}
					<div class="modal-content">

						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
							<h2 class='modal_title titulo_modal'>Trocar Senha</h2>
						</div>

						<div class="modal-body" style="padding: 30px;padding-top: 15px;padding-bottom: 5px;">
							<div class="row no-gutter ">
								<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
									<div class="row">
										<div class="col-lg-12">
											<div id="field_old_password" class="field">
												<label for="old_password">{{ form_change_password.old_password.label }}</label>
												{{ form_change_password.old_password }}
												<div class="alert"></div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-12">
											<div id="field_password" class="field">
												<label for="password">{{ form_change_password.password.label }}</label>
												{{ form_change_password.password }}
												<div class="alert"></div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-lg-12">
											<div id="field_confirm_password" class="field">
												<label for="confirm_password">{{ form_change_password.confirm_password.label }}</label>
												{{ form_change_password.confirm_password }}
												<div class="alert"></div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>

						<div class="modal-footer">
							<div class="row">
								<div class="col-md-2 col-md-push-10" >
									<button id="button_send" type="submit" class="submit btn btn-success pull-right">Enviar</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}
{% block recursos_complementares %}
{% load staticfiles %}
{% load compress %}
{% compress js %}
	<script src="{% static 'modules/user/user_controller.js' %}"/>
	<script src="{% static 'modules/user/user.js' %}"/>
{% endcompress %}
{% endblock %}