{% extends 'base_page.html' %}
{% block Titulo %}<title>Digitar - Perfil</title>{% endblock %}
{% load staticfiles %}
{% block recursos_necessarios %}
<style>
	.field label {
		font-weight: normal;
	}

</style>
{% endblock %}

{% block conteudo %}
	<div id="angular_content_profile" ng-cloak ng-app="modules.user" >
		<div class="row" style="margin-top: -55px;">
			<div class="col-lg-12 col-md-12 col-xs-12">
				<div class="box box-default" >
					<div class="box-heading">
						<div class="box-header with-border">
							<h5 class="box-title">{{ request.user.get_full_name}}</h5>
							<div class="pull-right">
								<div class="btn-group" role="group" aria-label="...">
									<a id='bt_adicionar' role="button" class="btn btn-sm btn-primary " ng-class="{'disabled':registro_selecionado!=null}" data-toggle="modal" data-target="#modal_adicionar_usuario" ng-disabled="registro_selecionado!=null">Adicionar</a>
									<a id='bt_servicos' role="button" class="btn btn-sm btn-primary"  ng-class="{'disabled':registro_selecionado==null}" ng-disabled="registro_selecionado==null"  data-toggle="modal" data-target="#modal_alterar_usuario" ng-click="esta_adicionando=false;open_object();" style='margin-left: 5px;'>Editar</a>
									<div class="btn-group" role="group" style='margin-left: 5px;'>
										<button type="button" id='bt_outras_acoes' class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="caret"></span></button>
										<ul class="dropdown-menu dropdown-menu-right">
											<li><a class="" id='bt_apagar_senha' ng-class="{'disabled':registro_selecionado==null}" data-toggle="modal" data-target="#modal_reset_password">Alterar senha</a></li>
											<li><a class="" id='bt_ative'  ng-class="{'disabled':registro_selecionado==null || registro_selecionado.is_active==true}" data-toggle="modal" data-target="#modal_justify_action" ng-click="confirm_active();">Reativar</a></li>
											<li role="separator" class="divider"></li>
											<li><a class="" href="#modal_justificativa" id='bt_disable' ng-class="{'disabled':registro_selecionado==null || registro_selecionado.is_active==false}" data-toggle="modal" data-target="#modal_justify_action" ng-click="confirm_disable()" >Desativar</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="box-body" style="margin-bottom: -10px;margin-top: 0px;">
						<div class="col-lg-6">
						<!--form_change_email-->
							<div class="box box-default" >
								<div class="box-heading">
									<div class="box-header with-border">
										<h5 class="box-title">Alterar Email</h5>
									</div>
								</div>
							<div ng-controller="change_password_controller">
								<form id="form_change_password" autocomplete="off" ng-submit="save_email()" novalidate>
									<div class="box-body" style="margin-bottom: -10px;margin-top: 0px;">
										{% csrf_token %}
										<div class="row">
											<div class="col-lg-12">
												<div id="field_old_password" class="field" >
													<sub><label for="old_password">{{ form_change_email.email.label }}</label></sub>
													{{ form_change_email.email }}
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12">
												<div id="field_old_password" class="field" >
													<sub><label for="old_password">{{ form_change_email.first_name.label }}</label></sub>
													{{ form_change_email.first_name }}
												</div>
											</div>
										</div>
										<div class="row">
											<div class="col-lg-12">
												<div id="field_old_password" class="field" >
													<sub><label for="old_password">{{ form_change_email.last_name.label }}</label></sub>
													{{ form_change_email.last_name }}
												</div>
											</div>
										</div>
									</div>
									<div class="box-footer">
										<div class="row">
											<div class="col-md-2 col-md-push-10" >
													<button id="bt_active_change" type="submit" class="btn btn-primary pull-right"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar </button>
											</div>
										</div>
									</div>
								</form>
							</div>
							</div>
						</div>

						<div class="col-lg-6">
							<div class="box box-default" >
								<div class="box-heading">
									<div class="box-header with-border">
										<h5 class="box-title">Alterar Senha</h5>
									</div>
								</div>
								<div ng-controller="change_password_controller">
									<form id="form_change_password" autocomplete="off" ng-submit="save_password()" novalidate>
										<div class="box-body" style="margin-bottom: -10px;margin-top: 0px;">
											{% csrf_token %}

											<div class="row">
												<div class="col-lg-12">
													<div id="field_old_password" class="field">
														<sub><label for="old_password">{{ form_change_password.old_password.label }}</label></sub>
														{{ form_change_password.old_password }}
													</div>
												</div>
											</div>
											<div class="row">
												<div class="col-lg-12">
														<div id="field_password" class="field">
															<sub><label for="password">{{ form_change_password.password.label }}</label></sub>
															{{ form_change_password.password }}
														</div>
													</div>
											</div>
											<div class="row">
												<div class="col-lg-12">
														<div id="field_confirm_password" class="field">
															<sub><label for="confirm_password">{{ form_change_password.confirm_password.label }}</label></sub>
															{{ form_change_password.confirm_password }}
														</div>
													</div>
											</div>
										</div>
										<div class="box-footer">
											<div class="row">
												<div class="col-md-2 col-md-push-10" >
													<button id="button_send" type="submit" class="btn btn-primary pull-right"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar </button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block recursos_complementares %}
{% load staticfiles %}
{% load compress %}
{% compress js %}
	<script src="{% static 'modules/user/user_controller.js' %}"/>
	<script src="{% static 'modules/user/user.js' %}"/>
	<script>
		$('#email').val("{{ request.user.email }}")

	</script>

{% endcompress %}
{% endblock %}